<!--{% capture page_url %} {{ page.url }} {% endcapture %}
{% if page_url contains "save-the-children" %}

{% else %}
<div class="total-footer">
<section class="save-the-child-section tabindex="0"">
    <div class="save-the-child-container">
        <div class="logo-container">
            <img src="/images/save-the-child-logo.png" alt="Save The Children" />
        </div>
        <div class="description-container">
            <div class="description-center">
                <h2>DONATE TODAY & MAKE A DIFFERENCE</h2>
                <p>100% of your donation benefits Save The Children. Thank you for your support.</p>
            </div>
        </div>
        <div class="button-container">
            <a href="/save-the-children/" class="button-common" title="MORE INFO">MORE INFO</a>
        </div>
        <div style="clear:both;"></div>
    </div>
</section>

{% endif %}-->

<!-- save the children section start-->

<!-- save the children section end-->
<footer>
  <div class="footer-wrapper four-coloumn">
    <div class="container">
      <div class="col-md-3 col-sm-6 no-padding v-top">
        <div class="footer-grid no-padding-left">
          <p class="h2" tabindex="0">Contact Us</p>
          <p tabindex="0"><span class="block-element">3820 North Roosevelt Blvd</span>
            <span class="block-element">Key West, FL 33040</span>
            <span class="block-element">(305) 320-0940</span>
            <span class="block-element"><a href="mailto:reservations@hotel24north.com" title="reservations@hotel24north.com">reservations@hotel24north.com</a></span>
          </p>
          <br>
          <p tabindex="0"><strong>General Manager:</strong>
            <br><a href="mailto:esimons@24northhotel.com" title="Eugenia Dwyer">Eugenia Dwyer</a></p>
          <br>
          <p tabindex="0"><strong>Director of Sales &amp; Marketing:</strong>
            <br><a href="mailto:lsheehan@thekeyscollection.com" title="Lee Sheehan">Lee Sheehan</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 no-padding v-top">
        <div class="footer-grid">
          <p class="h2" tabindex="0">Links</p>
          <ul>
            {% for items in site.data.navigation.footernav %}
            <li><a href="{{ items.url }}" title="{{ items.title }}" {% if items.newtab == "true" %} target="_blank" {% endif %}>{{ items.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 no-padding v-top">
        <div class="footer-grid">
          <p class="h2" tabindex="0">Newsletter</p>
          <form class="jotform-form signup" action="https://web2.cendynhub.com/FormPost/FormPost.ashx" method="post" accept-charset="utf-8">
            <input type="hidden" name="formID" value="82EC76A7-C9EB-4A62-8065-EEF08FF74540" aria-label="form ID" title="form ID" />
            <div class="form-holder email">
              <input type="email" class="form-textbox validate[required] input-text" data-type="input-textbox" id="input_32" name="emailAddress" size="21" value="" placeholder="Enter Your Email..." required="required" aria-label="Email" title="Email" />
            </div>
            <div class="checkbox tnc">
              <label>
                <input type="checkbox" name="agree" value="agree" id="agree" title="Press Spacebar to Agree to the Terms of Service & Privacy Policy" aria-label="Press Spacebar to Agree to the Terms of Service & Privacy Policy" required="required">
                I agree to the <a href="/terms-of-use/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.
              </label>
            </div>
            <div class="form-holder">
              <input type="submit" value="Send" class="form-btn" aria-label="Send" />
            </div>
          </form>
          {% if page_url contains "save-the-children" %}
          {% else %}
          <p class="h2 top-space">Reservations</p>
          <span class="block-element"><a href="tel:13053200940" title="305 320 0940"> 305 320 0940</a></span>
          {% endif %}
        </div>
      </div>
      <div class="col-md-2 col-xs-12 no-padding v-top foot-v-center no-border">
        <div class="footer-grid no-padding-right">
          <a href="/" title="24 North Hotel">
            <img src="/images/logo-footer.png" alt="24 North Hotel" />
          </a>
          <div class="hcf-logo">
            <a href="http://highgate.com/hcf" title="Highgate Charitable Foundation" target="_blank">
              <img class="img-responsive" style="width:100px; margin-top:15px;" src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1575573771/fdalmfb6yecsikcwicax.png" alt="highgate" />
            </a>
          </div>
          <a href="http://www.highgate.com/" target="_blank" title="highgate">
            <img src="/images/highgate-logo.png" alt="highgate" />
          </a>
          <a href="/accessibility/" title="Accessibility Statement">
            <img src="//res.cloudinary.com/traveltripperweb/raw/upload/v1573025065/v8xgxmj5t986pa66g4bt.svg" alt="ADA Badge Travel Tripper">
          </a>
          
          <div class="hcf-logo">
            <a href="http://highgate.com/hcf" title="Highgate Charitable Foundation" target="_blank">
              <img style="width:68px; margin-top:15px;" src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1573030132/jsmjxfcs1k49frwvszxv.jpg" alt="Highgate Charitable Foundation" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom-wrapper">
      <div class="col-sm-4 no-padding">
        <div class="footer-copyright" tabindex="0">24NORTHHOTEL &copy; {{ site.time | date: '%Y' }}</div>
      </div>
      <div class="col-sm-4 no-padding"></div>
      <div class="col-sm-4 no-padding">
        <div class="footer-social">
          <a href="https://www.instagram.com/24northhotel" target="_blank" title="Instagram" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-label="Facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
