<section class="container-fluid no-padding three-col-wrap">
  <div class="col-sm-4 no-padding v-center">
    <img src="../images/three-col-1.jpg" alt="national park"/>
  </div>
  <div class="col-sm-4 v-center three-col-content">
    <p class="h3">Paradise Found</p>
    <p class="h2"><span class="block-element">National</span>Park</p>
  </div>
  <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-2.jpg" alt="national park"/></div>
</section>

<section class="container-fluid no-padding three-col-wrap">
  <div class="col-sm-4 v-center three-col-content">
    <p class="h3">adventure</p>
    <p class="h2"><span class="block-element">playground</span>for all</p>
  </div>
  <div class="col-sm-4 no-padding v-center seal"><img src="../images/three-col-3.jpg" alt="national park"/>
    <div class="graphic"><img src="../images/floating/stamp-big.png" alt="stamp"/></div>
  </div>
   <div class="col-sm-4 v-center three-col-content">
    <p class="h3">explore</p>
    <p class="h2"><span class="block-element">natural</span>wonders</p>
  </div>
</section>
