<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content="f1e0be5fc1b4c067501e2ae62234a3f6"/>

  {% if page.seo_title %}
    <title>{{ page.seo_title }}</title> <meta name='description' content='{{ page.seo_description }}' />
  {% else %}
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | strip_html | strip_newlines | truncate: 320 }}{% elsif page.description %}{{ page.description | strip_html | strip_newlines | truncate: 320 }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}

  {% if page.url contains '/blog/search/' %}
    <meta name="robots" content="noindex">
  {% elsif page.meta_tags !="" %}
   <meta name="robots" content="{{ page.meta_tags }}">
  {% endif %}

  <link rel="canonical" href="https://www.24northhotel.com{{ page.url }}" />

<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="/css/owl.carousel.css" >
<link rel="stylesheet" href="/css/owl.theme.css" >
<link rel="stylesheet" href="/css/owl.transitions.css" >
<link rel="stylesheet" href="{{ "/css/lightgallery.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://releases.flowplayer.org/7.2.6/skin/skin.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NGT6Z3J');</script>
<!-- End Google Tag Manager -->

<!-- WowzaPlayer -->
<script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script>
<!-- End WowzaPlayer -->

<!-- Trip Advisor -->
<script type='text/javascript'>
var axel = Math.random() + '';
var a = axel * 10000000000000;
document.write('<img src="https://pubads.g.doubleclick.net/activity;dc_iu=/5349/DFPAudiencePixel;ord=' + a + ';dc_seg=476316838?" width=1 height=1 border=0 alt="dot"/>');
</script>
<noscript>
<img src="https://pubads.g.doubleclick.net/activity;dc_iu=/5349/DFPAudiencePixel;ord=1;dc_seg=476316838?" width=1 height=1 border=0/>
</noscript>
<!-- End Trip Advisor -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '466350900370273'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>

<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=466350900370273&ev=PageView&noscript=1" /></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<script id="gtsgig-boot" data-hotel-id="24northhotel" src="https://widgets.gtsgig.com/boot.js" async defer></script>

<!-- <script type="text/javascript">
   var docWidth = window.innerWidth
              || document.documentElement.clientWidth
              || document.body.clientWidth;

   if (docWidth > 640) {  //append staywonderful widget if not mobile devices
      var scriptgtsgig = document.createElement("script");
      scriptgtsgig.id = "gtsgig-boot";
      scriptgtsgig.dataset.hotelId = "24northhotel";
      var att = document.createAttribute("async");
      var att2 = document.createAttribute("defer");
      scriptgtsgig.setAttributeNode(att);
      scriptgtsgig.setAttributeNode(att2);
      scriptgtsgig.src = "https://widgets.gtsgig.com/boot.js";
      document.head.appendChild(scriptgtsgig);
   }
</script> -->


{% if page.url contains "blog" %}

  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.24northhotel.com{{ page.url }}" />
  <meta property="og:image" content="{% if blog.blogimage %}{{ blog.blogimage.url }}{% else %} https://www.24northhotel.com/images/logo.png {% endif%}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

{% else %}

  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.24northhotel.com{{ page.url }}" />
  {% if page.ogimage %}
  <meta property="og:image" content="{{ page.ogimage }}" />
  {% else %}
  <meta property="og:image" content="https://www.24northhotel.com/images/logo.png" />
  {% endif %}
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% elsif page.meta_description %}{{ page.meta_description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

{% endif %}

  <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "24 North Hotel Key West",
  "url": "https://www.24northhotel.com/",
  "logo": "https://www.24northhotel.com/images/logo.png",
  "description": "24 North Hotel offers standard, pool view, and oceanfront rooms with premium features and in-room amenities. Situated in the heart of Key West, book your stay on the official 24 North Hotel website to receive our Best Rate Guarantee. Or, receive big savings of up to 25% off when you book your vacation early!",
     "sameAs": [
    "https://www.facebook.com/24-North-Hotel-190785077925312/"

  ]
  }
}
</script>

<script type='application/ld+json'>
{
  "@context": "http://schema.org",
  "@type": "Hotel",
  "image": "https://cdn.traveltripper.io/site-assets/359_384_14595/media/2018-04-13-054157/24-North-Exterior-Dawn-2018.jpg",
"starRating" : { "@type" : "Rating",
                       "ratingValue" : "4"},
"priceRange" : "from $100",
 "address": {
    "@type": "PostalAddress",
    "streetAddress": "3820 North Roosevelt Blvd",
    "addressLocality": "Key West",
    "addressRegion": "Florida",
    "postalCode": "FL 33040",
    "addressCountry": "United States"
  },
  "description": "24 North Hotel offers standard, pool view, and oceanfront rooms with premium features and in-room amenities. Situated in the heart of Key West, book your stay on the official 24 North Hotel website to receive our Best Rate Guarantee. Or, receive big savings of up to 25% off when you book your vacation early!",
  "name": "24 North Hotel Key West",
  "alternateName":"24 North Hotel",
  "telephone": "(305)-320-0940",
  "email": "reservations@hotel24north.com",
  "url": "https://www.24northhotel.com/",
   "sameAs" : ["https://www.facebook.com/24NorthHotel/","https://www.instagram.com/24northhotel/","https://www.tripadvisor.com/Hotel_Review-g34345-d8776712-Reviews-24_North_Hotel-Key_West_Florida_Keys_Florida.html","https://www.booking.com/hotel/us/24-north-key-west.en-gb.html"]
    },
   "hasMap": "https://www.google.com/maps/place/24+North+Hotel+%7C+Key+West/@24.5717876,-81.7573128,17z/data=!3m1!4b1!4m7!3m6!1s0x88d1b167dc7b6e6d:0xf35502612f575a66!5m1!1s2018-09-16!8m2!3d24.5717827!4d-81.7551241"
 },

  "potentialAction":{
   "@type":"ReserveAction",
   "target":{
   "@type":"EntryPoint",
   "urlTemplate":"https://24northhotel.reztrip.com/classic/en/searches/5b97a6c65365e44b778c91b0/hotels/KEY24N/rooms/":[
   "http://schema.org/DesktopWebPlatform",
   "http://schema.org/IOSPlatform",
    "http://schema.org/AndroidPlatform"
]
},
   "result":{
   "@type":"LodgingReservation",
   "name":"Book Now"
  }
 }
}
</script>
</head>
