<nav class="header-wrapper">
  <div class="container">
    <div class="logo"> <a href="/"><img src="/images/logo.png" alt="24 North"/></a> </div>
    <div class="main-menu">
      <ul>
      {% for items in site.data.navigation.mainnav %}
     	{% if items.name == page.name %}
        <li><a href="{{ items.url }}" class="active">{{ items.title }}</a></li>
        {% else %}
        <li><a href="{{ items.url }}">{{ items.title }}</a></li>
        {% endif %}
       {% endfor %}
      </ul>
    </div>
    <div class="menu-btn"></div>
    <div class="booknow"> <a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank">Book Now</a> </div>
  </div>
</nav>