<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if seo_title %}
    <title>{{ seo_title }}</title> <meta name='description' content='{{ seo_description }}' />
  {% else %}
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.meta_description %}{{ page.meta_description | strip_html | strip_newlines | truncate: 320 }}{% elsif page.description %}{{ page.description | strip_html | strip_newlines | truncate: 320 }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}

<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="/css/owl.carousel.css" >
<link rel="stylesheet" href="/css/owl.theme.css" >
<link rel="stylesheet" href="/css/owl.transitions.css" >
<link rel="stylesheet" href="{{ "/css/lightgallery.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="https://plugins.traveltripper.io/v2/css/booking-widget.css" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NGT6Z3J');</script>
<!-- End Google Tag Manager -->

<!-- Flip.to Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MC2KXJH');</script>
<!-- End Flip.to Google Tag Manager -->

<!-- Trip Advisor -->
<script type='text/javascript'>
var axel = Math.random() + '';
var a = axel * 10000000000000;
document.write('<img src="https://pubads.g.doubleclick.net/activity;dc_iu=/5349/DFPAudiencePixel;ord=' + a + ';dc_seg=476316838?" width=1 height=1 border=0 alt="dot"/>');
</script>
<noscript>
<img src="https://pubads.g.doubleclick.net/activity;dc_iu=/5349/DFPAudiencePixel;ord=1;dc_seg=476316838?" width=1 height=1 border=0/>
</noscript>
<!-- End Trip Advisor -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '466350900370273'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>

<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=466350900370273&ev=PageView&noscript=1" /></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<script id="gtsgig-boot" data-hotel-id="24northhotel" src="https://widgets.gtsgig.com/boot.js" async defer></script>

<link rel="canonical" href="https://www.24northhotel.com{{ page.url }}" />

{% if page.url contains "blog" %}
  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.24northhotel.com{{ page.url }}" />
  <meta property="og:image" content="{% if blog.blogimage %}{{ blog.blogimage.url }}{% else %} https://www.24northhotel.com/images/logo.png {% endif%}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
{% endif %}
  
  <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "24 North Hotel Key West",
  "url": "https://www.24northhotel.com/",
  "logo": "https://www.24northhotel.com/images/logo.png",
  "description": "24 North Hotel Key West offers boutique accommodations in Key West Florida. Book your Ocean-View accommodation here on the Official Website of 24 North Hotel!",
     "sameAs": [
    "https://plus.google.com/113708528927471967794"
   
  ]
  }
}
</script>	
<script type='application/ld+json'>
{
  "@context": "http://schema.org",
  "@type": "Hotel",
  "image": "https://cdn.traveltripper.io/site-assets/359_384_818/media/gallery-23-large.jpg",
  "starRating" : { "@type" : "Rating",
                   "ratingValue" : "4"},
  "priceRange" : "Best Rate Guaranteed",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "3820 N Roosevelt Blvd, Key West",
    "addressLocality": "Key West",
    "addressRegion": "Florida",
    "postalCode": "FL 33040",
    "addressCountry": "United States"
  },
   "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.1",
    "bestRating": "5",
    "ratingCount": "414"
    },
  
  "description": "24 North Hotel Key West offers boutique accommodations in Key West Florida. Book your Ocean-View accommodation here on the Official Website of 24 North Hotel!",
  "name": "24 North Hotel Key West",
  "alternateName":"24 North Hotel",
  "telephone": "+1 305-320-0940",
  "email": "reservations@hotel24north.com",
  "url": "https://www.24northhotel.com/",
   "sameAs" : ["https://twitter.com/24NorthHotel","https://www.facebook.com/24-North-Hotel-190785077925312/","https://www.instagram.com/24northhotel","https://www.tripadvisor.com/Hotel_Review-g34345-d8776712-Reviews-24_North_Hotel-Key_West_Florida_Keys_Florida.html"]
    },   
   "hasMap": "https://goo.gl/maps/iA7ibELytNE2"
 },
 
  "potentialAction":{
   "@type":"ReserveAction",
   "target":{
   "@type":"EntryPoint",
   "urlTemplate":"https://24northhotel.reztrip.com/classic/en/searches/5a16ff94a433a81eb148bc18/hotels/KEY24N/rooms?controller=landings&starting_page=search","actionPlatform":[
   "http://schema.org/DesktopWebPlatform",
   "http://schema.org/IOSPlatform",
    "http://schema.org/AndroidPlatform"
]
},
   "result":{
   "@type":"LodgingReservation",
   "name":"Book Now"
  }
 }
}
</script>
  
</head>
