<section>
  <div class="container-fluid no-padding home-specials-wrap">
    <div class="container">
      <h2 class="heading-large">More Rooms</h2>
      <div id="home-carousel-2">
        <div class="item">
          <div class="home-specials-item2"> <img src="../../images/home-special-1.jpg" alt=""/>
            <div class="car-content">
              <h3>Queen Pool View Double</h3>
              <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
            </div>
            <a href="#" class="button-common btn-top">View Room</a> </div>
        </div>
        <div class="item">
          <div class="home-specials-item2"> <img src="../../images/home-special-2.jpg" alt=""/>
            <div class="car-content">
              <h3>Premium Two - Room Suite</h3>
              <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
            </div>
            <a href="#" class="button-common btn-top">View Room</a> </div>
        </div>
      </div>
      <div class="graphic"><img src="/images/floating/stamp-2.png" alt=""/></div>
      <div class="btn-holder-with-padding"><a href="/rooms/" class="button-common btn-blue">View all Rooms<i class="fa fa-play"></i></a></div>
    </div>
  </div>
</section>
