<section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large">More Events</h2>
        <div id="home-carousel-2">
          <div class="item">
            <div class="home-specials-item2"> <img src="../../../images/events/event-details/01.jpg" alt=""/>
              <div class="car-content">
                <h3>KEY WEST TRIATHLON & EXPO</h3>
                <p>Swim in the Atlantic Ocean, bike along US1 and run along Smathers Beach...</p>
              </div>
              <a href="/location/events/keywest-triathlon-expo/" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../../images/events/event-details/02.jpg" alt=""/>
              <div class="car-content">
                <h3>KEY WEST LIGHTED BIKE RIDE</h3>
                <p>The Lighted Bike Ride helps to gather the needed toys for the struggling...</p>
              </div>
              <a href="/location/events/keywest-lighted-bike-ride/" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../../images/events/event-details/03.jpg" alt=""/>
              <div class="car-content">
                <h3>HOLIDAY HISTORIC INN TOURS</h3>
                <p>Enjoy an enchanted evening of five decorated inns and a sampling of holiday...</p>
              </div>
              <a href="/location/events/holiday-historic-inn-tours/" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../../images/events/event-details/04.jpg" alt=""/>
              <div class="car-content">
                <h3>NUTCRACKER KEY WEST</h3>
                <p>Inspired by the unique and colorful environment of the Florida Keys, Clara...</p>
              </div>
              <a href="/location/events/nutcracker-keywest/" target="_blank" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../../images/events/event-details/05.jpg" alt=""/>
              <div class="car-content">
                <h3>KEY WEST FILM FESTIVAL</h3>
                <p>Various locations around Key West Showcasing films that exhibit excellence...</p>
              </div>
              <a href="/location/events/keywest-filmfestival/" target="_blank" class="button-common btn-top">View Event</a> </div>
          </div>
        </div>
        <div class="stamp-blue"><img src="../../../images/specials/special-details/stamp-blue.png" alt=""/></div>
        <div class="btn-holder-with-padding"><a href="/events/" class="button-common btn-blue">View all Events<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>