<section class="container-fluid no-padding home-specials-wrap">
  <div class="container">
    <h3 class="heading-large" tabindex="0">More Rooms</h3>
    <div class="owl-carousel" id="room-carousel-1">
      <div class="item" ng-repeat="room in browser.roomsList">
        <div class="home-specials-item2"> <img ng-src="[[room.photos[0].yankee_large]]" alt="" />
          <div class="car-content">
            <h4 class="h3" tabindex="0"><a ng-href="/room/#[[room.name | formatNameForLink]]" title="Room Name" >[[room.name]]</a></h4>
            <p tabindex="0">[[room.short_description | limitTo: 150]][[room.short_description.length > 150 ? '...' : '']]</p>
          </div>
          <a ng-href="/room/#[[room.name | formatNameForLink]]" class="button-common btn-top" title="View Room">View Room</a> </div>
      </div>
    </div>
    <div class="graphic">
      <img src="/images/floating/stamp-2.png" alt="stamp" />
    </div>
    <div class="btn-holder-with-padding"><a href="/rooms/" class="button-common btn-blue" title="View all rooms">View all Rooms<i class="fa fa-play"></i></a></div>
  </div>
</section>
