<div id="offer-popup" class="offer-popup modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-wrapper">

      <button type="button" class="close" data-dismiss="modal">&times;</button>

      <div class="modal-content">
        <div class="modal-content-inner">
          <h2>WE ARE OPEN</h2>
          <p>We are back & ready to make your stay unforgettable. Click now and receive Exclusive Offers!</p>
          <div><a class="button-common btn-blue" href="/offers/">Learn More</a></div>
        </div>
      </div>

    </div>

  </div>
</div>

<script>
  if (!Cookies.get('popup')) {
    $('#offer-popup').show();
    $('#offer-popup').modal();
    Cookies.set('popup', '1', {
      expires: 1
    });
  }
</script>
