#offer-popup{
	background:rgba(255,255,255,.8);
	.modal-lg{
		width:auto;
		max-width:96%;
		@media screen and (min-width:1200px){
			max-width:91%;
		}
		@media screen and (min-width:1400px){
			max-width:94%;
		}
		.modal-wrapper{
			background:url("/images/offer-popup-bg.jpg") no-repeat center center;
			position:relative;
		    background-size: cover;
	        width: 100%;
			height: inherit;
			.modal-content{
				background-color:transparent;
				border:none;
				position:absolute;
				text-align:center;
				top:50%;
				left:50%;
				transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				width:64%;
				h2{
					font-family:$main-font-light;
					font-size:42px;
					color:#fff;
					letter-spacing:1px;
					line-height:50px;
					text-transform:uppercase;
					padding-bottom:20px;
					@media screen and (min-width:1200px){
						line-height:82px;
						font-size:72px;
					}
				}
				p{
					font-family:$main-font-light;
					font-size:18px;
					color:#fff;
					letter-spacing:.5px;
					line-height:28px;
					padding-bottom:60px;
				}
			}
		}
	}
}