.privacy-details{
  h4{
    margin: 25px 0 10px 0;
  }
  p{
    font-family: brandon_grotesquelight;
    font-size: 20px; 
  }
  ul{
    padding: 0 30px;
    li{
       font-family: "brandon_grotesquelight";
       font-size: 20px;
    }
  }
}
