.privacy-details {
  h4 {
    margin: 25px 0 10px;
  }
  p {
    margin-bottom: 10px;
    font-family: brandon_grotesquelight;
    font-size: 20px;
  }
  ul {
    padding: 0 30px;
    li {
      font-family: $main-font-light;
      font-size: 20px;
    }
  }
}
