---
layout: default
---
<div class="room-details special-details">
  <section>
    <div class="container no-padding">
      <div class="page-banner specials-banner">
        <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
        <h1 class="page-title">Specials</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <ul class="gallery-nav">
      <li><a href="#" class="filter active" >Grand Opening Special</a></li>
      <li><a href="#"  class="filter" >Book Early Special</a></li>
    </ul>
  </div>
  <section>
    <div class="container room-details-carousel" rt3-recent-bookings="recentBookings" rt3-rooms-browser="browser" rt3-search-form="search" on-search-changed="browser.tonightRate()" ng-cloak>
      <div class="row">	
      <div class="col-sm-3 col-xs-12">
          <div class="spcl-lstng">
          	<h2>Special Offer</h2>
            <h3><span class="block-element">Grand </span>Opening</h3>
            <div class="booknow"> <a href="#" show-booking-widget="">Book Now</a> </div>
            <div class="btn-holder extra padding"><a href="#" class="button-common btn-blue">Contact Us</i></a></div>
            <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne.</p>
            <p>
               <strong>
                    12 March 2016  until<br>
                    27 April 2016
               </strong>
            </p>
          </div>
      </div>
      <div class="col-sm-9 col-xs-12">
          <div id="roomDetailsCarousel" class="carousel slide"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#roomDetailsCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#roomDetailsCarousel" data-slide-to="1"></li>
              <li data-target="#roomDetailsCarousel" data-slide-to="2"></li>
              <li data-target="#roomDetailsCarousel" data-slide-to="3"></li>
            </ol>
            
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <div class="item active"> 
                <img src="/images/specials/special-details/b2.png" alt=""/>
              </div>
              <div class="item">
                <img src="/images/specials/special-details/b2.png" alt=""/>
              </div>
              <div class="item">
                <img src="/images/specials/special-details/b2.png" alt=""/>
              </div>
              <div class="item"> 
                <img src="/images/specials/special-details/b2.png" alt=""/>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row details-intro">
        <div class="col-md-5">
          <h2>enjoy the following privileges</h2>
        </div>
        <div class="col-md-5">
          <ul>
            <li>Round-trip airport transfers </li>
            <li>Daily Breakfast at The Lobby or Breakfast Buffet </li>
            <li>Unlimited mini-bar consumption for non-alcoholic items </li>
            <li>Culinary Journey dining for two at our restaurants</li>
            <li>Flexible check-in and check-out times</li>
          </ul>
        </div>
        <div class="col-md-2"><img src="../../images/rooms/room-details/logo-details.png" width="160" height="144" alt=""/></div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row information">
        <div class="col-md-5 align-center"><img src="../../images/specials/special-details/photo-patch-spcls.png" width="296" height="386" alt=""/></div>
        <div class="col-md-7 p-l-0">
          <p class="highlight p-t-35">Terms & Conditions:</p>
          <ul class="lst p-b-25">
          	<li>Minimum of 2 nights’ stay is required</li>
			<li>Advance reservation is required </li>
			<li>The offer is subject to availability</li>
			<li>Black-out dates may apply</li> 
			<li>Our restaurant is only available to children of 12 years and over </li>
			<li>This offer cannot be used in conjunction with any other programmes</li>
			<li>In case of any dispute, the hotel reserves the right to make the final decision</li>
          </ul>
          <p class="highlight">Need assistance? Our dedicated reservations team is available around the clock:</p>
          <p class="p-b-25">24 North Hotel Service Centre on 800-222-4828  or <br>
            e-mail reservations@hotel24north.com</p>
        </div>
      </div>
    </div>
  </section>
  <section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large">More Specials</h2>
        <div id="home-carousel-2">
          <div class="item">
            <div class="home-specials-item2"> <img src="../../images/rooms/room-details/room-1.png" alt=""/>
              <div class="car-content">
                <h3>Grand open Special</h3>
                <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
              </div>
              <a href="https://24northhotel.reztrip.com/en/special_offer?rate_code=ADV&offer_code=NONREFUNDABLE" target="_blank" class="button-common btn-top">View Special</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2"> <img src="../../images/rooms/room-details/room-2.png" alt=""/>
              <div class="car-content">
                <h3>Book Early & Save!</h3>
                <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
              </div>
              <a href="https://24northhotel.reztrip.com/en/special_offer?rate_code=HHPKG&offer_code=HEMINGWAY" target="_blank" class="button-common btn-top">View Special</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2"> <img src="../../images/home-special-3.jpg" alt=""/>
              <div class="car-content">
                <h3>$50 Food & Beverage Package</h3>
                <p>Receive a $50 food & beverage credit to use at our Poolside Bar, minimum stay required.</p>
              </div>
              <a href="https://24northhotel.reztrip.com/en/special_offer?rate_code=FB50&offer_code=POOLBAR" target="_blank" class="button-common btn-top">View Special</a> </div>
          </div>
        </div>
        <div class="stamp-blue"><img src="../../images/specials/special-details/stamp-blue.png" alt=""/></div>
        <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
