---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner blog-banner">
      <div class="page-title"> Blog </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="blog-list">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
          <div class="blog-item">
            <h2>Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration</h2>
            <span class="post-details">April 18th, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/conch-1.jpg" alt="Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration"/></div>
            {% region blog_first %}
            <div class="post-image-holder"><img src="/images/blog/conch-2.jpg" alt="Unofficially, the Most Fun in Key West: Conch Republic Independence Celebration"/></div>
            {% region blog_second %}
          </div>
        </div>
      </div>
      <div class="col-md-4 no-padding">
        <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>-->
      </div>
    </div>
  </div>
</section>
