---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner" style="background-image: url('//cdn.traveltripper.io/site-assets/359_384_818/media/gallery-1-large.jpg');">
      {% region concerts_heading1 %}
      <h1 class="page-title">Concerts</h1>
      {% endregionblock %}
    </div>
  </div>
</section>


    <!-- save the girl child setion start-->
    <section class="container no-padding">
<div class="save-the-child-section-inner">
            <div class="save-the-child-container">
            <div class="description-container" >
            <div class="description-center">
            	{% regionblock concerts_heading2, type:header %}
            <h2>BIG ANNOUNCEMENT COMING NOVEMBER 29th</h2>
            {% endregionblock %}
            </div>
            </div>
            
            <div class="clear-both"></div>
            </div>
</div>
</section>
<!-- save the girl child setion end-->

