---
layout: default
---
<div class="meetings rfp meet">
  <section>
    <div class="container no-padding">
        <div class="page-banner" style="background-image: url('//cdn.traveltripper.io/site-assets/192_384_16188/media/2018-05-28-063221/24-north-pool.jpg');">
        <div class="overlay-bg"></div>
        <div class="graphic">
          <img src="/images/floating/stamp-1.png" alt="24 north stamp" />
        </div>
        {% regionblock contest_header, type:text %}
        <h1 class="page-title">THE WINNER TAKES IT ALL</h1>
        {% endregionblock %}
      </div>
    </div>
  </section>
  <section class="meetinkw privacy-details contest">
    <div class="container">
      <div class="row">
				{% regionblock contest_contenthead, type:text %}
        <p class="desp">THE WINNER TAKES IT ALL</p>
        {% endregionblock %}
				<div class="rfp-wrapper">
					<div class="contact-form">
						<form class="jotform-form" action="https://submit.jotform.me/submit/63041221610437/" method="post" name="form_63041221610437" id="63041221610437" accept-charset="utf-8" enctype="multipart/form-data">
	<input type="hidden" name="formID" value="63041221610437" title="hidden" aria-label="hidden" />
							<div class="two-fields-holder">
								<div class="col-sm-6 no-padding">
									<div class="form-group right-space">
										<input type="text" class="form-control validate[required, Alphabetic]" id="input_380" name="q3_first-name" placeholder="First Name"  title="First Name" aria-label="First Name" required>
									</div>
								</div>
								<div class="col-sm-6 no-padding">
									<div class="form-group left-space">
										<input type="text" class="form-control validate[required, Alphabetic]" id="input_37" name="q37_company37" placeholder="Last Name"  title="Last Name" aria-label="Last Name" required>
									</div>
								</div>
							</div>

							<div class="two-fields-holder">
								<div class="col-sm-6 no-padding">
									<div class="form-group">
										<input type="text" class="form-control validate[required, Alphabetic]"  id="input_40" name="q40_postalCode"  placeholder="Zip/Postal Code" title="Zip/Postal Code" aria-label="Zip/Postal Code" required>
									</div>
								</div>
								<div class="col-sm-6 no-padding">
									<div class="form-group left-space">
										<input type="email" class="form-control validate[required, Email]" id="input_4" name="q4_email" placeholder="Email" title="Email" aria-label="Email" required>
									</div>
								</div>
							</div>

							<div class="two-fields-holder">
								<div class="col-sm-12 no-padding">
									<div class="form-group right-space">
										<input type="checkbox" name="vehicle" value="Bike" required=""> <label> By submitting you agree to subscribe</label>
									</div>
								</div>
							</div>

							<button type="submit" class="btn-lt-blue">Submit</button>
						</form>
					 <script type="text/javascript">JotForm.ownerView=true;</script>
					</div>

				</div>
				{% regionblock contest_content_header1, type:header %}
            <h3>ROLL LIKE A ROCKSTAR!</h3>
				{% endregionblock %}
				{% regionblock contest_content_text1, type:text %}
            <p>'WITH OR WITHOUT YOU', WE ARE HOSTING A SERIES OF ROLL LIKE A ROCKSTAR GIVEAWAYS. THE WINNER TAKES IT ALL:
              <br>2 CONCERT TICKETS
              <br>FREE OVERNIGHT STAY AT BOSTON'S BEST ROCK AND ROLL HOTEL</p>
            <p>HOW TO WIN:
              <br>SEND YOUR COOLEST, FUNNIEST, CRAZIEST, SCARIEST, OR MOST MEMORABLE STORY ABOUT THE ARTISTS WHOSE TICKETS WE ARE GIVING AWAY AND WE WILL PICK OUR FAVORITE STORY!</p>
            <p>ENTER TO WIN
              <br>THE EAGLES JULY 21TH AT TD GARDEN</p>
				{% endregionblock %}
				{% regionblock contest_content_header2, type:header %}
            <h4>SUBMIT YOUR STORIES FOR ANY OF THESE THREE ARTISTS  <a href="#" target="_blank">HERE!</a></h4>
				{% endregionblock %}
				{% regionblock contest_content_header3, type:header %}
            <h4>PAST WINNING STORIES:</h4>
				{% endregionblock %}
				{% regionblock contest_content_header4, type:header %}
            <h5>CASEY FROM RHODE ISLAND WROTE,</h5>
				{% endregionblock %}
				{% regionblock contest_content_text2, type:text %}
              <p>IT WAS 1987 I WAS WORKING AT ALEXIS PARK RESORT IN LAS VEGAS AS A HOUSEKEEPER. U2 WAS PLAYING AT THE THOMAS AND MACK CENTER LOCATED NEAR BY. THEY STAYED IN 2929 (MY SECTION). I REMEMBER CLEANING THEIR ROOM AND SEEING ALL KINDS OF ROCK
              AND ROLL CLOTHING, AND SNIFFED A TEE SHIRT WHICH I HOPED BELONGED TO BONO! THERE WERE CASSETTE TAPES FROM THEM THAT SAID DEMO, WHICH I WANTED TO PLAY SO BAD. THEY HUNG AT THE POOL AND A COUPLE OF MY CO-WORKERS AND I LAID UNDER THE PALM TREES
              ON OUR BELLIES CHECKING THEM OUT. WE WERE NOT ALLOWED TO TALK TO OR ASK THEM FOR AUTOGRAPHS. UNFORTUNATELY, I DIDN'T GO TO THEIR CONCERT. HOWERER... AFTER THEY HAD CHECKED OUT ....I FOUND THIS HUGE BLACK LEATHER CONCHO BELT THAT I BELIEVE
              WAS BONO'S I THINK I SAW IT IN A VIDEO. WELL I TURNED IT INTO SECURITY, DIDN'T MAKE A BIG DEAL OF WHO'S IT WAS, PUT MY NAME ON IT (AFTER 90 DAYS IT'S YOURS) I DID GET THAT BELT. BUT FELT KINDA GUILTY BECAUSE THAT'S WHEN THE HIT SONG " I
              STILL HAVEN'T FOUND WHAT I'M LOOKING FOR" HIT THE CHARTS! I HAVE ALWAYS WONDERED... WAS IT THE BELT HE'S LOOKING FOR?
              <br><br>TO THIS DAY WHEN I HEAR THAT SONG I CHANGE THE WORDS TO: (YA GOT TO SING THIS PART) AND I STILL HAVEN'T FOUND MY BIG BLACK BELT... I GAVE THE BELT TO MY SISTER KELLY. I WONDER IF SHE STILL HAS IT. MAYBE I'LL ASK NEXT TIME WE TALK.
              :)</p>
				{% endregionblock %}
				{% regionblock contest_content_header5, type:header %}
            <h5>ANONYMOUS WINNER WROTE,</h5>
				{% endregionblock %}
				{% regionblock contest_content_text3, type:text %}
            <p>​BACK IN EARLY 2010, MY FRIEND DAVID VISITED COPENHAGEN, DENMARK, AND ITS FAMOUS MICHELIN RESTAURANT NAMED NOMA. DAVID IS A FOOD ENTHUSIAST, BY MEASURES, WHICH IS WHY THE THOUGHT OF HIM SPENDING MORE THAN HALF OF HIS PAY CHECK AT THIS PLACE
              WASN’T WEIRD AT ALL, TO HIM, BUT IT MIGHT EXPLAIN WHY HE WENT THERE BY HIMSELF. ANYWAY, WHILE ENJOYING ONE OF HIS FIRST DISHES AT NOMA, DAVID REALIZED THAT THE EVENING WAS ABOUT TO BECOME EVEN MORE MEMORABLE – ONE OF HIS FAVOURITE ARTISTS
              OF ALL TIME, BONO, WAS THERE THE SAME EVENING, TOGETHER WITH A FRIEND. WHILE THE GUT REACTION MOST LIKELY WAS TO WALK STRAIGHT UP TO THEIR TABLE – DAVID DECIDED TO WAIT UNTIL THE FRIEND WAS LEFT ALONE. WHILE BONO VISITED THE RESTROOM, DAVID
              WALKED UP TO THE FRIEND AND KINDLY EXPLAINED THAT HE WAS A BIG U2 FAN, AND ASKED IF IT WAS POSSIBLE FOR HIM TO TAKE A PHOTO TOGETHER WITH BONO. THE FRIEND APPRECIATED DAVID'S POLITENESS, BUT ANSWERED THAT TONIGHT WASN'T THE NIGHT. IT ALL
              SOUNDED REASONABLE TO DAVID, WHO STRESSED THAT HE REALLY UNDERSTOOD THE SITUATION, AND SO HE WALKED BACK TO HIS TABLE TO FINISH THE REST OF HIS(UNBELIEVABLY EXPENSIVE) MEAL. STILL, IT WAS A GREAT NIGHT AFTER ALL, HE HAD TASTED THE MOST DELICIOUS
              FOOD, AND SEEN ONE OF HIS BIGGEST IDOLS. YET WITH A BITTERSWEET FEELING THOUGH – IMAGINING A PHOTO OF HIM AND BONO ON THE WALL IN HIS APARTMENT. LATER ON THAT EVENING, WHEN DAVID WAS ABOUT TO LEAVE THE RESTAURANT AND HE ASKED FOR THE CHECK
              – THE WAITRESS REPLIED THAT IT HAD ALREADY BEEN TAKEN CARE OF. DAVID GOT CONFUSED, BUT THE WAITRESS CLARIFIED THAT THE GENTLEMEN AT THE OTHER SIDE OF THE RESTAURANT HAD PAID HIS BILL, AND THAT THEY HAD LEFT HIM A MESSAGE TOO. IT MIGHT NOT
              BE AS EXPLICIT AS A PHOTO – BUT THE VERY SAME NOTE IS STILL TODAY, IN 2018, HANGING ON DAVID'S WALL IN AN APARTMENT OUTSIDE OF GOTHENBURG, SWEDEN. IT SAYS: "THANK YOU FOR RESPECTING OUR PRIVACY TONIGHT, WE REALLY APPRECIATE IT. /BONO AND
              BRUCE SPRINGSTEEN".</p>
				{% endregionblock %}
				{% regionblock contest_content_header6, type:header %}
            <h5>JODY, PAUL SIMON WINNER WROTE,</h5>
				{% endregionblock %}
				{% regionblock contest_content_text4, type:text %}
            <p>BACK IN THE SUMMER OF 1999, TWO WEEKS BEFORE I MET MY HUSBAND, MY BROTHER AND FATHER WENT TO SEE PAUL SIMON AND BOB DYLAN ON TOUR. COINCIDENTALLY, MY SOON-TO-BE-MET HUSBAND ALSO ATTENDED THE VERY SAME CONCERT. NOT ONLY THAT, BUT THEY WERE
              SEATED IN THE SAME SECTION! WE ONLY REALIZED THIS COINCIDENCE YEARS LATER, BUT IT WAS ONE OF MANY COINCIDENCES THAT WE FOUND BETWEEN US. OUR GRANDMOTHERS AND MOTHERS HAVE THE SAME FIRST NAMES, WE ATTENDED THE SAME PARTY BUT DIDN’T MEET,
              WE WORKED WITH THE SAME PERSON AT TWO SEPARATE JOBS, MY FATHER KNEW HIS UNCLE, AND IT GOES ON AND ON. BUT, WHEN I THINK OF PAUL SIMON (AND BOB DYLAN TOO), I THINK OF MY HUSBAND AND OUR LITTLE COINCIDENCE AND KISMET. I WOULD LOVE TO SURPRISE
              MY HUSBAND WITH PAUL’S CONCERT,<br><br>ALMOST 20 YEARS TO THE DATE OF THE LAST TIME HE ATTENDED (WITH MY BRO AND DAD)!</p>
        {% endregionblock %}
      </div>
    </div>

  </section>
</div>
