---
layout: default
---
<div class="meetings rfp meet">
  <section>
    <div class="container no-padding">
        <div class="page-banner" style="background-image: url('//cdn.traveltripper.io/site-assets/192_384_16188/media/2018-05-28-063221/24-north-pool.jpg');">
        <div class="overlay-bg"></div>
        <div class="graphic">
          <img src="/images/floating/stamp-1.png" alt="24 north stamp" />
        </div>
        {% regionblock contest_header, type:text %}
        <h1 class="page-title">THE WINNER TAKES IT ALL</h1>
        {% endregionblock %}
      </div>
    </div>
  </section>
  <section class="meetinkw privacy-details contest">
    <div class="container">
      <div class="row">
				{% regionblock contest_contenthead, type:text %}
        <p class="desp">THE WINNER TAKES IT ALL</p>
        {% endregionblock %}
				<div class="rfp-wrapper">
					<div class="contact-form">
						<form class="jotform-form" action="https://submit.jotform.me/submit/81472472382459/" method="post" name="form_81472472382459" id="81472472382459" accept-charset="utf-8" enctype="multipart/form-data">
	<input type="hidden" name="formID" value="81472472382459" title="hidden" aria-label="hidden" />
							<div class="two-fields-holder">
								<div class="col-sm-6 no-padding">
									<div class="form-group right-space">
										<input type="text" class="form-control validate[required, Alphabetic]" id="input_3" name="q3_name" placeholder="First Name"  title="First Name" aria-label="First Name" required>
									</div>
								</div>
								<div class="col-sm-6 no-padding">
									<div class="form-group left-space">
										<input type="text" class="form-control validate[required, Alphabetic]" id="input_17" name="q17_lastName" placeholder="Last Name"  title="Last Name" aria-label="Last Name">
									</div>
								</div>
							</div>

							<div class="two-fields-holder">
								<div class="col-sm-6 no-padding">
									<div class="form-group">
										<input type="text" class="form-control validate[required, Alphabetic]" id="input_18" name="q18_zippostalCode" placeholder="Zip/Postal Code" title="Zip/Postal Code" aria-label="Zip/Postal Code">
									</div>
								</div>
								<div class="col-sm-6 no-padding">
									<div class="form-group left-space">
										<input type="email" class="form-control validate[required, Email]" id="input_13" name="q13_email13" placeholder="Email" title="Email" aria-label="Email" required>
									</div>
								</div>
							</div>

							<div class="two-fields-holder">
								<div class="col-sm-12 no-padding">
									<div class="form-group right-space">
										<input type="checkbox" id="input_19_0" name="q19_agreeTo[]" value="Yes" required=""> <label> By submitting you agree to subscribe</label>
									</div>
								</div>
							</div>

							<button type="submit" class="btn-lt-blue">Submit</button>
						</form>
					 <script type="text/javascript">JotForm.ownerView=true;</script>
					</div>

				</div>
      </div>
    </div>

  </section>
</div>
