---
layout: default
---

<!-- Eat & Drink Banner -->
<div class="loading" style="display:block;">Loading&#8230;</div>
<section class="container no-padding mb-50" tabindex="0">
  <div class="page-banner eat-drink-banner">
    {% regionblock hero-heading, type:text %}
		<h1 class="page-title" tabindex="0">Eat & Drink</h1>
    {% endregionblock %}
    <div class="graphic" tabindex="-1">
			<img src="/images/floating/stamp-1.png" alt="24 north stamp" tabindex="-1" />
		</div>
  </div>
</section>

<!-- Eat & Drink Intro -->
<div class="intro" tabindex="0">
  {% regionblock eat_drink_intro, type:text %}
    <p>Eat, drink, and be merry at our beautiful Key West hotel. At 24 North, we offer multiple dining options, from our poolside oasis, Toasted Coconut, to our Havana-esque craft cocktail bar, Republica, as well as everyone’s favorite morning brew — Starbucks Coffee.</p>
  {% endregionblock %}
</div>

<!-- Eat & Drink Listing -->
{% assign venues = site.data._models.eat_drink | sort: "sort_order" %}
<section class="models eat-drink">
  <div class="container">
    <div class="two-col-wrap">

      {% for venue in venues %}
        <div class="row no-gutters">
          <div class="col-sm-6 sp-img v-center">
            <div class="bg-styles img-inner">
              <div class="w100-image" style="background-image:url('{{ venue.venue_image1.url_large }}')"></div>
              <div class="onethrid-image" style="background-image:url('{{ venue.venue_image2.url_large }}')"></div>
              <div class="onethrid-image" style="background-image:url('{{ venue.venue_image3.url_large }}')"></div>
              <div class="onethrid-image" style="background-image:url('{{ venue.venue_image4.url_large }}')"></div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-sm-6 sp-content v-center">

            <h2 class="h2" tabindex="0">{{ venue.name }}</h2>
            <div class="desp" tabindex="0">
              {{ venue.description }}
            </div>

            {% for item in venue.menu %}
              {% if item.menu_name != "" %}
                <a href="{{ item.menu_url }}" class="button-common btn-blue" target="_blank">{{ item.menu_name }}<i class="fa fa-play"></i></a>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>

<section class="more-spls" rt3-special-rates= "offers" ng-controller="offerDetail" >
  <!--<div class="graphics"></div>-->
  <div class="container-fluid no-padding home-specials-wrap">
    <div class="container">
      <h2 class="heading-large" tabindex="0">24 North hotel</h2>

      {%  include special-offers.html %}

      <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
    </div>
  </div>
</section>
