---
layout: default
---
<div class="starbucks shuttle">
< <section>
      <div class="container no-padding">
        <div class="page-banner partners-banner events-lawn-banner">
            <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
          <h1 class="page-title"> COMING SOON! </h1>
        </div>
      </div>
    </section>

<section>
  <div class="container-fluid no-padding two-col-wrap m-t-60">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
      	{% region heart-of-republic %}
      </div>
    </div>
    <div class="col-sm-6 no-padding v-center">{% region shuttle-image-1 %}</div>
  </div>
</section>
<section class="about-home">
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">{% region shuttle-image-2 %}</div>
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        {% region explore-old-key %}
       <!-- <div class="btn-holder"><a href="#" class="button-common btn-blue">Discover More<i class="fa fa-play"></i></a></div>--> 
      </div>
    </div>
  </div>
  <div class="btn-holder ev-lawn-btn"><a class="button-common btn-blue" href="/event-lawn/request-for-proposal/">Request for Proposal </a></div>
</section>
<section>
  <div class="container-fluid no-padding home-rooms-wrap">
    <div class="home-rooms event-lawn-fullimg"></div>
  </div>
</section>


</div>