---
layout: default
---

<!-- Captured numbers may act as strings, and can be converted to numbers using the following hack: -->
{% assign currentDate = currentDate | plus: 0 %}

<div class="events">

  <section>
    <div class="container no-padding">
      <div class="page-banner specials-bannner">
        <div class="graphic">
          <img src="/images/floating/stamp-1.png" alt="24 north stamp" /></div>
          <h1 class="page-title">Events</h1>
      </div>
    </div>
  </section>


<section class="models fancybox" data-filter="24 North Hotel Events">
          <div class="container">
            <div class=" two-col-wrap">
              <div class="row no-gutters p-10 bg">
                
                  
                <div class="eca-app-container" data-widgetuuid="3ec5bbad-f8b9-4131-90bb-40bdb8f1ae18"></div>

                  <script>(function () {

                  window.eventCalId=1547;

                  var integrationScript = document.createElement("script");

                  integrationScript.async = 1;

                  integrationScript.setAttribute("src", "https://api.eventcalendarapp.com/integration-script.js");

                  document.head.appendChild(integrationScript);

                  if (window.eventCalendarAppUtilities) { window.eventCalendarAppUtilities.init("3ec5bbad-f8b9-4131-90bb-40bdb8f1ae18");}})();

                  </script>
      
            </div>
          </div>
        </section>
  
</div>
