---
layout: default
---

<!-- Captured numbers may act as strings, and can be converted to numbers using the following hack: -->
{% assign currentDate = currentDate | plus: 0 %}

<div class="events">

  <section>
    <div class="container no-padding">
      <div class="page-banner specials-bannner">
        {% regionblock events_header, type:header %}
        <h1 class="page-title" tabindex="0">Events</h1>
        {% endregionblock %}
        <div class="graphic">
          <img src="/images/floating/stamp-1.png" alt="24 north stamp" />
        </div>
      </div>
    </div>
  </section>

  <ul class="gallery-nav events-filter-nav">
    <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all" title="All">All</a></li>
    {% assign category_list = site.data._models.event_category %}
    {% for category in category_list %}
      <li><a href="javascript:;" data-rel="{{ category.title }}" class="filter" title="{{ category.title }}">{{ category.title }}</a></li>
    {% endfor %}
  </ul>

  {% assign events = site.data._models.events | sort: 'publish_date' %}
  {% for event in events %}
    {% capture cycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <!-- Check to see if the event has been published. -->
    {% if event.isPublished == true %}
      <!-- Capture the current date. -->
      {% capture currentDate %}{{ 'now' | date: '%s' }}{% endcapture %}
      <!-- Capture the event's expiration date. -->
      {% capture expireDate %}{{ event.expire_date | date: '%s' }}{% endcapture %}
      <!-- If the current date is less then the event's expiration date OR the event doesn't have a expiration date, show the event.  -->
      {% if currentDate < expireDate or event.expire_date == null %}

        <section class="models fancybox" data-filter="{{ event.category.title }}">
          <div class="container">
            <div class=" two-col-wrap">
              <div class="row no-gutters">
                {% if cycle == 'even' %}
                  <div class="col-sm-6 sp-img "><img src="{{ event.thumb_image.url }}" title="{{ event.alt_text }}" alt="{{ event.alt_text }}"></div>
                {% endif %}
                <div class="col-sm-6 sp-content">
                  <a class="link-heading" href="/location/events/{{ event.url }}/" title="{{ event.name }}" ><h2>{{ event.name }}</h2></a>
                  <!-- <a href="/location/events/{{ event.url }}/"
                  <p class="title">{{ event.name }}</p></a> -->
                  <div class="title">{{ event.schedule }}</div>
                  <div class="desp">{{ event.short_description }}</div>
                  <div class="btn-holder"><a href="/location/events/{{ event.url }}/" class="button-common btn-blue" title="View this event">View this event<i class="fa fa-play"></i></a></div>
                </div>
                {% if cycle == 'odd' %}
                  <div class="col-sm-6 sp-img "><img src="{{ event.thumb_image.url }}" title="{{ event.alt_text }}" alt="{{ event.alt_text }}"></div>
                {% endif %}
              </div>
            </div>
          </div>
        </section>

      {% endif %}
    {% endif %}
  {% endfor %}

</div>
