---
layout: default
---
<div class="events">
    <section>
      <div class="container no-padding">
        <div class="page-banner specials-bannner">
            <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
          <h1 class="page-title"> Events </h1>
        </div>
      </div>
    </section>
    {% assign events = site.data._models.events | sort : 'sort_order' %}
    {% for e in events %}
    {% capture cycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
            {% if cycle == 'even' %}
            <div class="col-sm-6 sp-img "> <img src="{{e.image.url}}" alt=""></div>
            {% endif %}
          	<div class="col-sm-6 sp-content">
              <h2>{{e.name}}</h2>
              <div class="title">{{e.schedule}}</div>
              <div class="desp">{{e.description}}</div>
    		  <div class="btn-holder"><a href="{{e.url}}"  class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
            {% if cycle == 'odd' %}
            <div class="col-sm-6 sp-img "> <img src="{{e.image.url}}" alt=""></div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>


    {% endfor %}
</div>
