---
layout: default
---
<div class="events">
    <section>
      <div class="container no-padding">
        <div class="page-banner specials-bannner">
            <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
          <h1 class="page-title"> Events </h1>
        </div>
      </div>
    </section>
    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
          	<div class="col-sm-6 sp-content">
              <h2>Key West Film Festival</h2>
              <p class="title">November 16th to 20th, 2016</p>
              <p class="desp">Various locations around Key West Showcasing films that exhibit excellence in storytelling, the festival's lineup is to feature screenings and special events hosted at landmark venues</p>
    		  <div class="btn-holder"><a href="/events/keywest-filmfestival/"  class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
            <div class="col-sm-6 sp-img "> <img src="/images/events/film-festival.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
            <div class="col-sm-6 sp-img"> <img src="/images/events/expo.jpg" alt=""></div>
            <div class="col-sm-6 sp-content">
              <h2>Key West Triathlon and Expo: TRIKW Swim-Bike-Run in Paradise</h2>
              <p class="title">December 1st to 3rd, 2016 - 7AM</p>
              <p class="desp">Swim in the Atlantic Ocean, bike along US1 and run along Smathers Beach</p>
              <div class="btn-holder"><a href="/events/keywest-triathlon-expo/"  class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
          	<div class="col-sm-6 sp-content">
              <h2>Key West Lighted Bike Ride</h2>
              <p class="title">December 7th, 2016</p>
              <p class="desp">The Lighted Bike Ride helps to gather the needed toys for the struggling, working families of Key West for the holidays</p>
    		  <div class="btn-holder"><a href="/events/keywest-lighted-bike-ride/"  class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
            <div class="col-sm-6 sp-img "> <img src="/images/events/light-bike.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
            <div class="col-sm-6 sp-img"> <img src="/images/events/holiday.jpg" alt=""></div>
            <div class="col-sm-6 sp-content">
              <h2>Holiday Historic Inn Tours</h2>
              <p class="title">December 9th, 2016 - 6PM to 8PM</p><br>
              <p class="desp">Enjoy an enchanted evening of five decorated inns and a sampling of holiday treats and cheer at each property. From 6-8 p.m., tours are self guided</p>
              <div class="btn-holder"><a href="/events/holiday-historic-inn-tours/" class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="models">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
          	<div class="col-sm-6 sp-content">
              <h2>Nutcracker Key West</h2>
              <p class="title">December 10th to 18th, 2016</p>
              <p class="desp">Inspired by the unique and colorful environment of the Florida Keys, Clara and her young Prince encounter enchanted landscapes complete with snowy egrets</p>
    		  <div class="btn-holder"><a href="/events/nutcracker-keywest/" class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
            <div class="col-sm-6 sp-img "> <img src="/images/events/nut-cracker.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    
    
</div>