---
layout: default
---

<section>
  <div class="container no-padding">
    <div class="page-banner gallery-banner">
      <div class="page-title">Visual Tour</div>
    </div>
  </div>
</section>

<section> 
  <!-- gallery wrap --> 
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container">
        <ul class="gallery-nav">
         <!-- <li><a href="#all" class="filter active"  data-filter="hotel restaurant rooms attractions">All</a></li>
          <li><a href="#"  class="filter">The Hotel</a></li>
          <li><a href="#"  class="filter">Restaurant & Bar</a></li>
          <li><a href="#"  class="filter">Rooms & Suites</a></li>
          <li><a href="#"  class="filter">Attractions</a></li>-->
        </ul>
      </div>
      <div class="container gallery-wrap "  id="lightgallery">
        <ul class=" row">
          <li class="col-md-4 col-sm-4 portfolio hotel"  data-cat="hotel">
            <div class="item"  data-src="/images/gallery/gallery1-large.jpg"> <img src="/images/gallery/gallery1.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio restaurant" data-cat="restaurant">
            <div class="item" data-src="/images/gallery/gallery2-large.jpg"> <img src="/images/gallery/gallery2.jpg" class="img-responsive"/> </div>
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="hotel">
            <div class="item" data-src="/images/gallery/gallery3-large.jpg"> <img src="/images/gallery/gallery3.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery4-large.jpg"> <img src="/images/gallery/gallery4.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery5-large.jpg"> <img src="/images/gallery/gallery5.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery6-large.jpg"> <img src="/images/gallery/gallery6.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery7-large.jpg"> <img src="/images/gallery/gallery7.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery8-large.jpg"> <img src="/images/gallery/gallery8.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery9-large.jpg"> <img src="/images/gallery/gallery9.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery10-large.jpg"> <img src="/images/gallery/gallery10.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery11-large.jpg"> <img src="/images/gallery/gallery11.jpg" class="img-responsive"/> </div> 
          </li>
          <li class="col-md-4 col-sm-4 portfolio " data-cat="attractions">
            <div class="item" data-src="/images/gallery/gallery12-large.jpg"> <img src="/images/gallery/gallery12.jpg" class="img-responsive"/> </div> 
          </li>
        </ul>
      </div>
    </div>
    
    
    <!--<div class="btn-holder text-center"><a href="#" class="button-common btn-blue">load more images</a></div> -->
  </div>
  <!--/gallery wrap --> 
</section>
