---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner grand-opening-banner">
      <div class="page-title"> Specials </div>
    </div>
  </div>
</section>

<section>
	<div class="container">
    	<ul class="gallery-nav">
          <li><a href="/specials/grand-opening" class="active">Grand Opening Special</a></li>
          <li><a href="/specials/book-early">Book Early Special</a></li>
        </ul>
    </div>
</section>

<section>
	<div class="container details-wrap">
    <div class=" two-col-md-wrap">
    	<div class="col-md-3 details v-center">
        	
            	<h2>Special Offer</h2>
                <h3>Grand Opening</h3>
                <div class="spacing-bottom"><a href="#" class="button-common btn-filled btn-fixed-width">Book Now</a></div>
                <div class="spacing-bottom"><a href="#" class="button-common btn-blue btn-fixed-width">Contact Us</a></div>
                <p>Book now and save 25% with this great offer for our grand opening!</p>
                <p class="text-big"><span class="block-element">12 March 2016 until</span><span>27 April 2016</span></p>
            
        </div>
        <div class="col-md-9 v-center">
        	<div class="row">
            	<div class="special-carousel">
    <div id="specialsCarousel" class="carousel slide">  
      <ol class="carousel-indicators">
        <li data-target="#specialsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#specialsCarousel" data-slide-to="1"></li>
        <li data-target="#specialsCarousel" data-slide-to="2"></li>
        <li data-target="#specialsCarousel" data-slide-to="3"></li>
      </ol>
       
      <div class="carousel-inner">
      
      
        <div class="item active">
            <img src="/images/specials/grand-opening-detail-1.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span>
         </div>
       <div class="item">
            <img src="/images/specials/grand-opening-detail-2.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span>
         </div>
         <div class="item">
            <img src="/images/specials/grand-opening-detail-3.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span>
         </div>
         <div class="item">
            <img src="/images/specials/grand-opening-detail-4.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span> 
         </div>
        
      </div>
    </div>
   
   
  </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
	<div class="container-fluid no-padding inner-blue-bg">
    	<div class="container two-col-wrap">
        	<div class="col-sm-5 no-padding v-center">
            	<h4 class="text-center">enjoy the following privileges</h4>
            </div>
            <div class="col-sm-7 no-padding v-center">
            	
                <ul class="blue-bg-list">
               			<li>Round-trip airport transfers</li>
                        <li>Daily Breakfast at The Lobby or Breakfast Buffet</li>
                        <li>Unlimited mini-bar consumption for non-alcoholic items</li>
                        <li>Culinary Journey dining for two at our restaurants</li>
                        <li>Flexible check-in and check-out times</li>
                        </ul>
                        
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container centered-con-wrap">
  <div class=" two-col-wrap">
    	<div class="col-sm-5 no-padding v-center"><div class="centerd-con-left"><img src="/images/terms.jpg" alt=""/></div></div>
        <div class="col-sm-7 no-padding v-center">
        <div class="centerd-con-right">
        	<div class="heading-text">Terms & Conditions:</div>
            <ul class="bullet-text">
            	<li>Minimum of 2 nights’ stay is required</li>
                <li>Advance reservation is required</li>
                <li>The offer is subject to availability</li>
                <li>Black-out dates may apply</li>
                <li>Our restaurant is only available to children of 12 years and over</li>
                <li>This offer cannot be used in conjunction with any other programmes</li>
                <li>In case of any dispute, the hotel reserves the right to make the final decision</li>
            </ul>
            <div class="heading-text">Need assistance? Our dedicated reservations team is available around the clock:</div>
            <p>24 North Hotel Service Centre on 800-222-4828  or <span class="block-element">e-mail <a href="mailto:reservations@24north.com">reservations@24north.com</a></span></p>	
        </div>
        </div>
    </div>
    </div>
</section>

<section>
	<div class="container-fluid no-padding home-specials-wrap">
    	<div class="container">
       	  <h2 class="heading-large">More Specials</h2>
          
          <div id="home-carousel-2">
  				<div class="item">
            <div class="home-specials-item">
                <img src="/images/home-special-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>grand opening special</h3>
                    <p>Book now and save 25% with this great offer for our grand opening!</p>
                </div>
                <a href="/specials/grand-opening" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="/images/home-special-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>book early & save!</h3>
                    <p>Reserve your room now for next summer and save 35%</p>
                </div>
                <a href="/specials/book-early" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            

  
            </div>
            
            <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
    
</section>