---
layout: default

---

<section>
  <div class="home-banner-wrap">
    <div id="homeCarousel" class="carousel slide">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
        <li data-target="#homeCarousel" data-slide-to="4"></li>
      </ol>


      <!-- Wrapper for Slides -->
      <div class="carousel-inner" rt3-recent-bookings="recentBookings"  ng-cloak>

              <div class="item active"> <img src="../images/home-carousel-2.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Endless Summer</p>
              <h1>Holiday dream come true</h1>
              <div><a href="/specials/" class="button-common">View Specials <i class="fa fa-play"></i></a></div>
            </div>
          </div>

          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder" ng-hide="!browser.isRate"><a href="#" class="homeTonightRate" ><span>[[ browser.toNightsRate ]]</span></a>Tonight’s Rate</span></div>
        </div>


        <div class="item"> <img src="../images/home-carousel-1.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Paradise Found</p>
              <h1>24 north hotel key west</h1>
              <div><a href="/location/" class="button-common">Discover More <i class="fa fa-play"></i></a></div>
            </div>
          </div>

         <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder" ng-hide="!browser.isRate"><a href="#" class="homeTonightRate" ><span>[[ browser.toNightsRate ]]</span></a>Tonight’s Rate</span></div>
        </div>



         <div class="item"> <img src="../images/home-carousel-3.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Perfect Stay</p>
              <h1>Live in style and comfort</h1>
              <div><a href="/rooms/" class="button-common">View Rooms<i class="fa fa-play"></i></a></div>
            </div>
          </div>

           <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder" ng-hide="!browser.isRate"><a href="#" class="homeTonightRate" ><span>[[ browser.toNightsRate ]]</span></a>Tonight’s Rate</span></div>
        </div>


        <div class="item"> <img src="../images/home-carousel-4.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Dive Into</p>
              <h1>A world of adventure</h1>
              <div><a href="/gallery/" class="button-common">View Gallery<i class="fa fa-play"></i></a></div>
            </div>
          </div>

          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder" ng-hide="!browser.isRate"><a href="#" class="homeTonightRate" ><span>[[ browser.toNightsRate ]]</span></a>Tonight’s Rate</span></div>
        </div>


        <div class="item"> <img src="../images/home-carousel-5.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Tranquil Haven</p>
              <h1>Destination Divine</h1>
              <div><a href="/location/" class="button-common">View Location<i class="fa fa-play"></i></a></div>
            </div>
          </div>

          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder" ng-hide="!browser.isRate"><a href="#" class="homeTonightRate" ><span>[[ browser.toNightsRate ]]</span></a>Tonight’s Rate</span></div>
        </div>


      </div>
    </div>
    <!--<div class="theme-left-panel">
      <div class="languages"><a href="#">English</a><a href="#">Español</a><a href="#">Deutsch</a></div>
    </div>-->
    <div class="theme-right-panel">
      <div class="social-right"><!-- <a href="#"><i class="fa fa-instagram"></i></a> --><a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank"><i class="fa fa-facebook"></i></a> <!--<a href="#"><i class="fa fa-twitter"></i></a> --></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid blue-bg">
    <div class="about-wrap">
      {% region 24north-hotelkey-west %}
    </div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        {% region paradise-found %}
      </div>
    </div>
    <div class="col-sm-6 no-padding v-center">{% region paradisefound-image %}</div>
  </div>
</section>
<section class="about-home">
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">{% region abouthotel-image %}</div>
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        {% region about-hotel-text %}
        <!--<div class="btn-holder"><a href="#" class="button-common btn-blue">View this suite<i class="fa fa-play"></i></a></div>-->
      </div>
    </div>
  </div>
  <div class="graphic">{% region curve2-image %}</div>
</section>

<section>
  <div class="container-fluid no-padding home-rooms-wrap">
    <div class="home-rooms">
      <div class="container">


          <div class="home-rooms-holder">
          <div class="home-rooms-holder-inner">
          <data-owl-carousel  class="owl-carousel" data-options="{navigation : false,
                                                                                      slideSpeed : 500,
                                                                                      paginationSpeed : 400,
                                                                                      singleItem:true,
                                                                            		  paginationNumbers: false,
                                                                            		  autoPlay: false,
                                                                            		  pagination: false,
                                                                            		  navigation: true,
                                                                            		  navigationText : false}">
            <div class="item" owl-carousel-item="" ng-repeat ="room in browser.roomsList">
            <div>
              <h2>Rooms & Suites</h2>
              <h3><span class="block-element">[[room.name]]</span></h3>
              <p></p>
              <div class="btn-holder extra padding"><a href="/rooms/" class="button-common btn-blue">View Rooms<i class="fa fa-play"></i></a></div>
            </div>
			       </div>
          </data-owl-carousel >

        </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section rt3-special-rates= "offers">
	<div class="container-fluid no-padding home-specials-wrap">
    	<div class="container">
       	  {% region special-offer-head %}
          {%  include special-offers.html %}
          <div class="graphic">{% region stamp2-image %}</div>

          <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>


        </div>
    </div>
</section>

<section class="bt">
	<div class="container-fluid no-padding">
    <div class="border-texture"><img src="/images/floating/border-textrure.png" alt=""/></div>
    	<div class="cta-theme">
        	<div class="pf-wrap">
        	{% region paradisefound %}
            <div><a href="/gallery/" class="button-common btn-white">View Gallery<i class="fa fa-play"></i></a></div>
        	</div>
        </div>
    </div>
</section>

{% include grid.html %}



<section class="hlw">
	<div class="hlw-inner">
	<div class="container">

   	  <div class="home-location-wrap">

      {% include location.html %}

           <div><a href="/location/" class="button-common btn-blue">Explore location<i class="fa fa-play"></i></a></div>

           <div class="graphic">{% region stamp3-image %}</div>



      </div>
    </div>
    </div>
    <div class="cuba">{% region cuba-image %}</div>
</section>


<section>
	<div class="container-fluid show-case">
    	<div class="row">
    	<div class="col-sm-4 no-padding">{% region showcase-img-1 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-2 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-2 %}</div>
        </div>
    </div>
</section>

<section>
	<div class="new-map">
    {% region new-map-image %} </div>
</section>
