---
layout: default
---  

<section>
  

  <div class="container no-padding">
  <div class="page-banner location-banner">
    

    <div class="page-title">
      
      Location
    </div>

  </div>

</div>

</section>

<section>
	<div class="container loc-content">
    	
    		<div class="col-sm-7">
        		<div class="left-column">
                	<h2 class="no-top-padding">ACCESSIBILITY</h2>
                    <p>Key West International Airport is 1.3 miles from 24 North Hotel | Key West, and Duval Street is 3.1 miles away.
</p>
                    
                    <h2>OVERVIEW</h2>
                    <p>24 North Hotel | Key West offers accommodations in Key West. The hotel has an outdoor pool and fitness center, and guests can enjoy a drink at the bar.<br />
<br />
All rooms are fitted with a flat-screen TV. Certain rooms feature a sitting area for your convenience. The rooms are equipped with a private bathroom equipped with a bathtub and bathtub or shower. For your comfort, you will find free toiletries and a hairdryer.
<br />
<br />

                   You will find a 24-hour front desk at the property.</p>
                    

                    
                </div>
        	</div>
        	<div class="col-sm-5">
        		<div class="right-column">
                	<div class="address-wrap">
                        <h3>Address</h3>
                        <p>
                            <span>3820 North Roosevelt Blvd</span>
                            <span>Key West, FL 33040</span>
                            <span>USA</span>
                        </p>
                    </div>
                    <div class="address-wrap">
                        <h3>Contact</h3>
                        <p>
                            <span>Tel	(305) 320-0940</span>
                            <span><a href="mailto:reservations@hotel24north.com">reservations@hotel24north.com</a></span>
                        </p>
                    </div>
                    <div class="address-wrap">
                        <h3>Check - In</h3>
                        <p>
                            <span>Check-in time:</span>
                            <span>15:00 hours / 3:00 pm</span>
                            <span class="extra-padding">Check-out time:</span>
                            <span>12:00 hours / 12:00 noon </span>
                        </p>
                    </div>
                    <div class="address-wrap">
                        <h3>GPS</h3>
                        <p>
                            <span>24° 34' 16.8" N</span>
                            <span>81° 45' 18.6" W</span>
                        </p>
                    </div>
                    <!--<div class="btn-wrap">
                       <div><a href="#" class="button-common btn-blue">Download Map<i class="fa fa-play"></i></a></div>
                       <div class="extra-padding"><a href="#" class="button-common btn-blue">Download Fact Sheet<i class="fa fa-play"></i></a></div>
                        <div></div>
                    </div>-->
                </div>
        	</div>
    </div>
    
</section>

<section>
	<div class="container no-padding">
    	<div class="cta-theme cta-theme-location">
        	<h2>Paradise Found</h2>
            <div><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-white">Book Now<i class="fa fa-play"></i></a></div>
        </div>
    </div>
</section>



<section>
	<div class="container">
   	  <div class="home-location-wrap"> 
      
      {% include location.html %}
      
           <div><a href="/gallery/" class="button-common btn-blue">View Gallery<i class="fa fa-play"></i></a></div>
            
      </div>
    </div>
</section>



<section>
	<div class="container-fluid no-padding">
    	<div class="empty-container"><img src="../images/loc-1.jpg" alt=""/></div>
    </div>
</section>

{% include grid.html %}

<!--<section>
	<div class="container-fluid no-padding home-specials-wrap car-blue-bg">
    	<div class="container">
       	  <h2 class="heading-large">current events</h2>
          
          <div id="home-carousel-2">
  				<div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>fantasy festival</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Event</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>ernest hemingway</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Event</a>
            </div>
            
            </div>
            
             <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>grand opening special</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
             <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>book early & save!</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            </div>
            
            <div class="btn-holder-with-padding"><a href="#" class="button-common">View all Events<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>-->



