---
layout: default
---  

<section>
  

  <div class="container no-padding">
  <div class="page-banner location-banner">
    

    <div class="page-title">
      
      Location
    </div>

  </div>

</div>

</section>

<section>
	<div class="container loc-content">
    	
    		<div class="col-sm-7">
        		<div class="left-column">
                    {% region accessibility %}
                    {% region overview %}

                </div>
        	</div>
        	<div class="col-sm-5">
        		<div class="right-column">
                    {% region address %}
                    {% region contact %}
                    {% region check_in_info %}
                    
                    <!--<div class="btn-wrap">
                       <div><a href="#" class="button-common btn-blue">Download Map<i class="fa fa-play"></i></a></div>
                       <div class="extra-padding"><a href="#" class="button-common btn-blue">Download Fact Sheet<i class="fa fa-play"></i></a></div>
                        <div></div>
                    </div>-->
                </div>
        	</div>
    </div>
    
</section>

<section>
	<div class="container no-padding">
    	<div class="cta-theme cta-theme-location">
        	<h2>Paradise Found</h2>
            <div><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-white">Book Now<i class="fa fa-play"></i></a></div>
        </div>
    </div>
</section>



<section>
	<div class="container">
   	  <div class="home-location-wrap"> 
      
      {% include location.html %}
      
           <div><a href="/gallery/" class="button-common btn-blue">View Gallery<i class="fa fa-play"></i></a></div>
            
      </div>
    </div>
</section>



<section>
	<div class="container-fluid no-padding">
    	<div class="empty-container"><img src="../images/loc-1.jpg" alt=""/></div>
    </div>
</section>

{% include grid.html %}

<!--<section>
	<div class="container-fluid no-padding home-specials-wrap car-blue-bg">
    	<div class="container">
       	  <h2 class="heading-large">current events</h2>
          
          <div id="home-carousel-2">
  				<div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>fantasy festival</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Event</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>ernest hemingway</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Event</a>
            </div>
            
            </div>
            
             <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>grand opening special</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
             <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>book early & save!</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            </div>
            
            <div class="btn-holder-with-padding"><a href="#" class="button-common">View all Events<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>-->



