---
layout: default
---
<div class="meetings">
<section>
  <div class="home-banner-wrap meetings-wrap">
   <div id="sync1" class="carousel">
   	  	  <div class="item">
              <img src="../images/meetings/meetings-carousel-1.jpg" alt=""/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Meetings & Events</p>
                  <h1>Keywest</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-2.jpg" alt=""/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 2</p>
                  <h1>Tagline 2</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-3.jpg" alt=""/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 3</p>
                  <h1>Tagline 3</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-4.jpg" alt=""/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 4</p>
                  <h1>Tagline 4</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
         
    </div>
    <div id="sync2" class="carousel">
    	  <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-1.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-2.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-3.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-4.jpg" alt=""/>
          </div>
          
    </div>
    <!--<div class="theme-left-panel">
      <div class="languages"><a href="#">English</a><a href="#">Español</a><a href="#">Deutsch</a></div>
    </div>-->
    <div class="theme-right-panel">
      <div class="social-right"><!-- <a href="#"><i class="fa fa-instagram"></i></a> --><a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank"><i class="fa fa-facebook"></i></a> <!--<a href="#"><i class="fa fa-twitter"></i></a> --></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid blue-bg">
    <div class="about-wrap">
      <h1>24 north hotel Key West</h1>
      <p>Our spacious interior meeting room has central air-conditioning, restrooms, blackout blinds, adjustable lights and a dry erase board. Wi-Fi Internet access is also available. This flexible space is conveniently located within the resort, adjacent to the Tranquility Pool.</p>
      <div class="btn-holder"><a href="#" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
      <div class="graphic-1"><img src="/images/floating/stamp-1.png" alt=""/></div>
      <div class="graphic-2"><img src="/images/floating/curves-1.png" alt=""/></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        <h3>Conference Facilities</h3>
        <p>Get down to business. From corporate boards to paddle boards we can meet all of your needs. Our spacious interior meeting room has central air-conditioning, restrooms, blackout blinds, adjustable lights and a dry erase board. Wi-Fi Internet access is also available.</p>
        <div class="logo-icon"><img src="../images/logo-24.jpg" alt="24 North Hotel Key West"/></div>
      </div>
    </div>
    <div class="col-sm-6 no-padding v-center"><img src="/images/meetings/meetings-1.jpg" alt="Paradise Found"/></div>
  </div>
</section>
<section class="about-home">
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center"><img src="/images/meetings/meetings-2.jpg" alt="About the Hotel"/></div>
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        <h3>Pool side Events</h3>
        <p>Want to be outdoors? Have your meeting poolside. Our 2,488 square feet of outdoor space has a 6-foot privacy wall and seats up to 50 guests for a cocktail reception. We’ll even arrange your food service and catering needs.</p>
        <div class="btn-holder"><a href="#" class="button-common btn-blue">Book Now<i class="fa fa-play"></i></a></div> 
      </div>
    </div>
  </div>
  <div class="graphic"><img src="/images/floating/curves-2.png" alt=""/></div>
</section>
<section class="lifestyle">
	<div class="container-fluid">
    	<h3>Events with Elegance</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
</section>
<section>
  <div class="container-fluid show-case">
    <div class="row">
      <div class="col-sm-4 no-padding"><img src="../images/meetings/meetings-3.jpg" alt=""/></div>
      <div class="col-sm-4 no-padding"><img src="../images/meetings/meetings-4.jpg" alt=""/></div>
      <div class="col-sm-4 no-padding"><img src="../images/meetings/meetings-5.jpg" alt=""/></div>
    </div>
  </div>
</section>

</div>
