---
layout: default
---
<div class="meetings rfp meet">
  <section class="container no-padding">
    <div class="page-banner rooms-banner">
      <div class="overlay-bg"></div>
      {% regionblock meet_header, type:header %}
      <h1 class="page-title" tabindex="0">Meet In<br/>Key West</h1>
      {% endregionblock %}
      <div class="graphic">
        <img src="/images/floating/stamp-1.png" alt="24 north stamp" />
      </div>
    </div>
  </section>
  <section class="meetinkw">
    <div class="container">
      <div class="row">
        {% regionblock meet_contenthead, type:text %}
         <p class="desp">Meet In Key West</p>
         {% endregionblock %}
        <div tabindex="0">
          {% regionblock meet_content1, type:text %}
          <p class="rfp-callus text-center">Our flexible indoor meeting space comes prepared with Wi-Fi internet access, flat screen televisions, blackout blinds and central air-conditioning.<br/><br/>Conveniently located in the lobby of 24 North Hotel, with 145 guestrooms, retail, a shuttle to Old Town, and plenty of food & beverage options, your attendees will have everything they need to meet and enjoy their time in Key West.<br/><br/>Our Group Sales Department is eager to plan your meetings and events from beginning to end.<br/><br/>To find out more, complete an RFP or contact <a href="mailto:Sales@thekeyscollection.com" title="Sales@thekeyscollection.com">Sales@thekeyscollection.com.</a></p>
          {% endregionblock %}
        </div>
      </div>
      <div class="meet-img">
         <div class="col-sm-6 col-md-6">
           <img src="//cdn.traveltripper.io/site-assets/359_384_14595/media/2018-04-13-053435/24-North-Boardroom-Logo-thumb.jpg" alt="" class="img-responsive">
         </div>
         <div class="col-sm-6 col-md-6 ">
           <img src="//cdn.traveltripper.io/site-assets/359_384_14595/media/2018-04-13-053855/24-North-Coffee-Break-thumb.jpg" alt="" class="img-responsive">
         </div>
       </div>
    </div>

  </section>
  <section class="container-fluid">
    <div class="row">
     <div class="desp">
      <h2 tabindex="0">Contact Details</h2><br/><br/>
      <span class="rfp-callus" tabindex="0">For inquiries, please call the Sales Office at<br/></span>
      <a class="rfp-phone" href="tel:3056001425" title="(305) 600-1425">(305) 600-1425</a>&nbsp;<span class="rfp-callus">or fill out the form below.</span>
    </div>

      <div class="rfp-wrapper">
        <div class="contact-form">
          <form class="jotform-form" action="https://submit.jotform.me/submit/63041221610437/" method="post" name="form_63041221610437" id="63041221610437" accept-charset="utf-8" enctype="multipart/form-data">
<input type="hidden" name="formID" value="63041221610437" aria-label="hidden" title="hidden"  />
            <div class="two-fields-holder">
              <div class="col-sm-6 no-padding">
                <div class="form-group right-space">
                  <input type="text" class="form-control validate[required, Alphabetic]" id="input_35" name="q3_first-name" placeholder="Name" aria-label="Name" required>
                </div>
              </div>
              <div class="col-sm-6 no-padding">
                <div class="form-group left-space">
                  <input type="text" class="form-control validate[required, Alphabetic]" id="input_37" name="q37_company37" placeholder="Company Name" aria-label="Company Name" required>
                </div>
              </div>
            </div>
          <div class="form-group">
              <textarea class="form-control validate[required] m-textarea" name="q36_others36" style="width:100%" rows="5" placeholder="Address Details" aria-label="Address Details"></textarea>
            </div>
            <div class="two-fields-holder">
              <div class="col-sm-6 no-padding">
                <div class="form-group">
                  <input type="text" class="form-control validate[required, Alphabetic]"  id="input_389" name="q38_city"  placeholder="City" aria-label="City" required>
                </div>
              </div>
              <div class="col-sm-6 no-padding">
                <div class="form-group left-space">
                  <input type="text" class="form-control validate[required, Alphabetic]" id="input_39" name="q39_state"  placeholder="State" aria-label="State" required>
                </div>
              </div>
            </div>
            <div class="two-fields-holder">
              <div class="col-sm-6 no-padding">
                <div class="form-group">
                  <input type="number" class="form-control validate[required, Numeric]"  id="input_40" name="q40_postalCode"  placeholder="Postal Code" aria-label="postal code" required>
                </div>
              </div>
              <div class="col-sm-6 no-padding">
                <div class="form-group left-space">
                  <input type="number" class="form-control validate[required, Numeric]" id="input_26" name="q26_cell-phone"  placeholder="Phone Number" aria-label="phone number" required>
                </div>
              </div>
            </div>

            <div class="two-fields-holder">
              <div class="col-sm-12 no-padding">
                <div class="form-group right-space">
                  <input type="email" class="form-control validate[required, Email]" id="input_4" name="q4_email" placeholder="Email" aria-label="Email" required>
                </div>
              </div>
            </div>
            <div class="checkbox-holder" id="flexible">
              <div class="col-sm-4">
                <div class="row option-label" tabindex="0">Are the dates flexible?</div>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <label class="radio-inline">
                    <input type="radio" value="Yes" id="yes" name="q28_areThe[]" aria-label="Yes" aria-labelledby="flexible yes">
                    Yes </label>
                  <label class="radio-inline">
                    <input type="radio" value="No" id="no" name="q28_areThe[]" aria-label="No" aria-labelledby="flexible no">
                    No </label>
                </div>
              </div>
            </div>
            <div class="two-fields-holder">
              <div class="col-sm-6 no-padding">
                <div class="form-group right-space">
                  <input type="text" class="form-control validate[required, Alphabetic]" id="input_25" name="q25_company" placeholder="Event Type" aria-label="Event Type" required>
                </div>
              </div>
              <div class="col-sm-6 no-padding">
                <div class="form-group left-space">
                  <input type="text" class="form-control main-date-1" id="input_15" name="q15_eventDate" placeholder="Event Date" aria-label="Enter event date in YYYY-M M-DD format" required>
                </div>
              </div>
            </div>
            <div class="two-fields-holder">
              <div class="col-sm-6 no-padding">
                <div class="form-group">
                  <input type="text" class="form-control"  id="input_20" name="q20_noofAttendees"  placeholder="Number of Attendees" aria-label="Number of Attendees" required>
                </div>
              </div>
              <div class="col-sm-6 no-padding">
                <div class="form-group left-space">
                  <input type="text" class="form-control" id="input_41" name="q41_totalRooms"  placeholder="Total Rooms" aria-label="Total rooms" required>
                </div>
              </div>
            </div>
            <div class="two-fields-holder">
              <div class="col-sm-12 no-padding">
                <div class="form-group right-space checkbox tnc">
                    <label class="cb">
                      <input type="checkbox" name="q42_iAgree[]" value="Agree" id="agree" required="required" aria-label="Press Spacebar to Agree to the Terms of Service & Privacy Policy"> I agree to the <a href="/terms-of-use/" target="_blank">Terms of Service</a> and <a href="/privacy-policy/" target="_blank">Privacy Policy</a>.
                    </label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn-lt-blue">Submit</button>
          </form>
         <script type="text/javascript">JotForm.ownerView=true;</script>
        </div>

      </div>

    </div>
  </section>
</div>
