---
layout: default
---
<div class="meetings">
<section>
  <div class="home-banner-wrap meetings-wrap">
   <div id="sync1" class="carousel">
   	  	  <div class="item">
              <img src="../images/meetings/meetings-carousel-1.jpg" alt="" class="banner"/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Best choosen for<br>Group Events</p>
                  <h1>24 north hotel key west</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-2.jpg" alt="" class="banner"/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 2</p>
                  <h1>Tagline 2</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-3.jpg" alt="" class="banner"/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 3</p>
                  <h1>Tagline 3</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-4.jpg" alt="" class="banner"/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 4</p>
                  <h1>Tagline 4</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-5.jpg" alt="" class="banner"/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 5</p>
                  <h1>Tagline 5</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
          <div class="item">
              <img src="../images/meetings/meetings-carousel-6.jpg" alt="" class="banner"/>
              <div class="carousel-caption">
                <div class="caption-inner">
                  <p>Heading 6</p>
                  <h1>Tagline 6</h1>
                  <div><a href="/location/" class="button-common">Request for Proposal <i class="fa fa-play"></i></a></div>
                </div>
              </div>
          </div>
         
    </div>
    <div id="sync2" class="carousel">
    	  <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-1.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-2.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-3.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-4.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-5.jpg" alt=""/>
          </div>
          <div class="item">
          	<img src="../images/meetings/meetings-carousel-thumbnail-6.jpg" alt=""/>
          </div>
          
    </div>
    <!--<div class="theme-left-panel">
      <div class="languages"><a href="#">English</a><a href="#">Español</a><a href="#">Deutsch</a></div>
    </div>-->
    <div class="theme-right-panel">
      <div class="social-right"><!-- <a href="#"><i class="fa fa-instagram"></i></a> --><a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank"><i class="fa fa-facebook"></i></a> <!--<a href="#"><i class="fa fa-twitter"></i></a> --></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid white-bg">
    <div class="about-wrap">
      <h3>24 north hotel Key West</h3>
      <h1>Meetings & Events</h1>
      <p>We understand the planning that goes into an event and the effort it takes to manage a group on vacation, which is why we are here to ensure that your group stay goes as smoothly as possible.</p>
      <div class="btn-holder"><a href="#" class="button-common btn-blue">Request for Proposal<i class="fa fa-play"></i></a></div>
      <div class="graphic-1"><img src="/images/meetings/stamp-1-blue.png" alt=""/></div>
      <div class="graphic-2"><img src="/images/meetings/curves-1-white.png" alt=""/></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-md-5 no-padding v-center blue-bg">
      <div class="two-col-content">
        <h3>Group Accomodation</h3>
        <p>Whether you're organizing a college reunion, planning a wedding, or coordinating a corporate retreat, 24 North Hotel is well-equipped to meet your group accommodation needs. Our central location makes it easy for your guests to get around Key West, and our extra-comfy bedding and on-site Starbucks ensure that your group starts the day off on the right foot. </p>
        <div class="logo-icon"><img src="/images/meetings/abelum.png" alt="24 North Hotel Key West"/></div>
      </div>
    </div>
    <div class="col-md-7 no-padding v-center"><img src="/images/meetings/meetings-1.jpg" alt="Paradise Found"/></div>
  </div>
</section>
<section class="about-home">
  <div class="container two-col-wrap boxed">
    <div class="col-sm-7 no-padding v-center"><img src="/images/meetings/meetings-2.jpg" alt="About the Hotel"/></div>
    <div class="col-sm-5 no-padding v-center blue-bg">
      <div class="two-col-content">
        <h3>Work & Fun...together</h3>
        <p class="wide">For the groups that will be doing more work than play, each of our spotless rooms offer desks and high-speed WiFi. However, for the groups that come to play, there’s our on-site Fury Watersports concierge for tours and water-related excursions. There’s also our highly-recommended bar and restaurant, Chug Cantina, perfect for whenever your group wants to unwind with a few tacos and beers by the pool.</p>
        <div><a href="/location/" class="button-common">View Rooms <i class="fa fa-play"></i></a></div> 
      </div>
    </div>
  </div>
  <div class="graphic"><img src="/images/floating/curves-2.png" alt=""/></div>
</section>
<section class="lifestyle">
	<div class="stamp2"><img src="../images/meetings/stamp-2-blue.png"  alt=""/></div>
	<div class="container-fluid">
    	<p>No matter the purpose of your group trip, you can count on 24 North’s dedicated staff to make your group stay in Key West comfortable, warm, and stress-free.</p>
        <div class="btn-holder"><a href="#" class="button-common btn-blue">Request for Proposal<i class="fa fa-play"></i></a></div>
    </div>
</section>
<section class="mo">
<div class="graphics"></div>
{% include more-rooms.html %}
</section>

</div>
