---
layout: default
---

<section class="inner-banner">
    <div class="container">
        {% regionblock banner, type:image %}
        <div class="page-banner" style="background-image: url(/images/reviews/reviews-banner.jpg);">
{% regionblock title, type:text %}
            <h1 class="page-title">
                Reviews
            </h1>
            {% endregionblock %}
        </div>
          {% endregionblock %}
    </div>
</section>

<section class="reviews-text">   
    <div class="container">
        {% regionblock content, type:text %}
        <p>Are you looking for reviews of The Manhattan at Times Square Hotel? Take a look at some of our Times Square hotel's latest reviews, curated from a range of reputable online sources including Google, TripAdvisor and Facebook. Read what other guests have had to say after staying at our hotel based in the heart of all the action in Central Manhattan.</p>
        {% endregionblock %}
    </div>  
</section>

<section class="attr-map reviews-container"  id="left-col">
    <div class="container no-padding">
        <div class="row m-ht">
            <div class="col-lg-6 review-item">
                <div class="attr-items">                   
                    
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            {% regionblock review_image1, type:image %}
                            <div class="attr-top" style="background-image: url('/images/reviews/reviews-1.jpg');">
                                <div class="number-count">
                                    1
                                </div>
                            </div>
                             {% endregionblock %}
                            <div class="attr-bottom">
                                {% regionblock content_heading1, type:text %}
                                <h3>Review 1</h3>
                                 {% endregionblock %}
                                 {% regionblock content_review1, type:text %}
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                 {% endregionblock %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 review-item">
                <div class="attr-items">                   
                    
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            {% regionblock review_image2, type:image %}
                            <div class="attr-top" style="background-image: url('/images/reviews/reviews-2.jpg');">
                                <div class="number-count">
                                    2
                                </div>
                            </div>
                            {% endregionblock %}
                            <div class="attr-bottom">
                                {% regionblock content_heading2, type:text %}
                                <h3>Review 2</h3>
                                 {% endregionblock %}
                                 {% regionblock content_review2, type:text %}
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>  
                                {% endregionblock %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>            
            <div class="col-lg-6 review-item">
                <div class="attr-items">                   
                    
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            {% regionblock review_image3, type:image %}
                            <div class="attr-top" style="background-image: url('/images/reviews/reviews-3.jpg');">
                                <div class="number-count">
                                    3
                                </div>
                            </div>
                            {% endregionblock %}
                            <div class="attr-bottom">
                                 {% regionblock content_heading3, type:text %}
                                <h3>Review 3</h3>
                                {% endregionblock %}
                                {% regionblock content_review3, type:text %}
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                {% endregionblock %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>            
            <div class="col-lg-6 review-item">
                <div class="attr-items">                   
                    
                    <div class="row">
                        <div class="col-md-12 no-padding">
                             {% regionblock review_image4, type:image %}
                            <div class="attr-top" style="background-image: url('/images/reviews/reviews-4.jpg');">
                                <div class="number-count">
                                    4
                                </div>
                            </div>
                             {% endregionblock %}
                            <div class="attr-bottom">
                                {% regionblock content_heading4, type:text %}
                                <h3>Review 4</h3>
                                  {% endregionblock %}
                                  {% regionblock content_review4, type:text %}
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                {% endregionblock %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews-text">   
    <div class="container">
        {% regionblock content_review_2, type:text %}
        <p>Are you looking for reviews of The Manhattan at Times Square Hotel? Take a look at some of our Times Square hotel's latest reviews, curated from a range of reputable online sources including Google, TripAdvisor and Facebook. Read what other guests have had to say after staying at our hotel based in the heart of all the action in Central Manhattan.</p>
        {% endregionblock %}
    </div>  
</section>
 

<section class="book-a-stay-container att-page m-b-90 m-t-90">
    <div class="container">
         {% regionblock button, type:text %}
        <h2 class="overlay-heading">Book Now</h2>
         {% endregionblock %}
         {% regionblock attraction_image, type:image %}
        <div class="page-banner"  style="background-image:url(/images/attractions/attractions-4.jpg);">
            <div class="logo-details-container">
                <div class="m-logo"></div>
                <div class="detail-container">
                    {% regionblock page_title, type:text %}
                    <h2 class="page-title">stay in the<br>heart of NYC</h2>
                     {% endregionblock %}
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>-->
                   {% regionblock book_now, type:text %} <a href="{{site.data.config.reztripUrl}}/" class="discover-btn">Book Your Stay</a>  {% endregionblock %}
                </div>
            </div>
        </div>
         {% endregionblock %}
    </div>
</section>
