---
layout: default
---

<section class="inner-banner">
    <div class="container">
        <div class="page-banner" style="background-image: url(/images/reviews/reviews-banner.jpg);">
          {% regionblock reviews_header, type:header %}
          <h1 class="page-title" tabindex="0">Reviews</h1>
          {% endregionblock %}
          <div class="graphic">
            <img src="/images/floating/stamp-1.png" alt="24 north stamp" />
          </div>
        </div>
    </div>
</section>

<section class="container reviews-page-intro">

  {% regionblock intro_header, type:header %}
  <h2 class="h2" tabindex="0">Are you looking for reviews of 24 North Hotel in Key West?</h2>
  {% endregionblock %}

  <div tabindex="0">
    {% regionblock intro_text, type:text %}
    <p>Take a look at some of the reviews from previous guests at our hotel located right in the heart of Key West, sourced from TripAdvisor, Google, and other reputable platforms!</p>
    {% endregionblock %}
  </div>
</section>

<section class="reviews-list container">
  <div class="row">
    {% assign reviews = site.data._models.reviews | sort: "sort_order" %}
    {% for review in reviews %}
      <div class="review-item {% if forloop.index > 4 %} hide-item {% endif %}">
        <div class="review-item-inner">
          <h3 class="h6" tabindex="0">{{review.review_heading}}</h3>
          <p class="review-text" tabindex="0">{{review.review_full_text}}</p>
          <p class="reviewer-name" tabindex="0"><span>{{review.reviewer_name}}</span> - {{review.reviewer_company}}</p>
          <p class="reviewer-address">{{review.reviewer_address}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if reviews.size > 4 %}
    <a href="javascript:void(0);" class="button-common btn-blue load-more">LOAD MORE</a>
  {% endif %}
</section>

<section class="reasons-to-book">
  {% regionblock reasons_to_book_header, type:header %}
  <h4 class="h2" tabindex="0">3 REASONS TO BOOK DIRECT</h4>
  {% endregionblock %}
  <div class="reasons-list">
    <div class="block">
      <img src="/images/reviews/search-dollar.png" alt="Price">
      <div tabindex="0">
        {% regionblock reasons_to_book_text_1, type:text %}
        <p>Recieve the best price for your booking</p>
        {% endregionblock %}
      </div>
    </div>
    <div class="block">
      <img src="/images/reviews/hotel.png" alt="Hotel">
      <div tabindex="0">
        {% regionblock reasons_to_book_text_2, type:text %}
        <p>You're helping to support the hotel directly</p>
        {% endregionblock %}
      </div>
    </div>
    <div class="block">
      <img src="/images/reviews/tag.png" alt="Tag">
      <div tabindex="0">
        {% regionblock reasons_to_book_text_3, type:text %}
        <p>Take advantage of our exclusive special offers</p>
        {% endregionblock %}
      </div>
    </div>
  </div>
  <div class="btn-holder">
    {% regionblock reasons_to_book_cta, type:text %}
      <a href="javascript:void(0);" class="button-common" show-booking-widget>Book Now</a>
    {% endregionblock %}
  </div>
</section>

<div class="room-details" rt3-special-rates="offers">
  <section class="more-spls">
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large" tabindex="0">Special Offers</h2>
        {%  include special-offers.html %}
        <div class="stamp-blue"><img src="/images/specials/special-details/stamp-blue.png" alt="24North-stamp"/></div>
        <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
