---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner rooms-banner">
      <div class="page-title">Rooms</div>
    </div>
  </div>
</section>

<section>
	<div class="container">
    <div class="row">
    	<div class="rooms-holder">
        	<div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-oceanfront-king.jpg" alt=""/></figure>
                    <h2>premium oceanfront<br>/king</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="/rooms/room-details" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-oceanfront-double-queen.jpg" alt=""/></figure>
                    <h2>premium oceanfront<br>/Double queen</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/deluxe-pool-view-king.jpg" alt=""/></figure>
                    <h2>deluxe pool view<br>/king</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/deluxe-pool-view-double-queen.jpg" alt=""/></figure>
                    <h2>Deluxe Pool View<br>/Double Queen</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/oceanfront-junior-suite.jpg" alt=""/></figure>
                    <h2>oceanfront<br>/junior suite</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-two-room-suite.jpg" alt=""/></figure>
                    <h2>premium<br>/two-room suite</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/oceanfront-two-room-suite.jpg" alt=""/></figure>
                    <h2>oceanfront<br>/two-room suite</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/standard-king.jpg" alt=""/></figure>
                    <h2>standard<br>/king</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/standard-double-queen.jpg" alt=""/></figure>
                    <h2>standard<br>/double queen</h2>
                    <!--<div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>-->
                    <div class="extra-padding"><a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
        </div>
    </div>
    </div>
</section>


