---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner p-oceanfront-king">
      <div class="page-title">Rooms</div>
    </div>
  </div>
</section>

<section>
	<div class="container">
    	<ul class="gallery-nav">
          <li><a href="#">Previuos Room</a></li>
          <li><a href="#" class="active">Premium Oceanfront King</a></li>
          <li><a href="#">Next Room</a></li>
        </ul>
    </div>
</section>

<section>
	<div class="container room-details-wrap">
        
        	
            	<div class="special-carousel">
    <div id="specialsCarousel" class="carousel slide">  
      <ol class="carousel-indicators">
        <li data-target="#specialsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#specialsCarousel" data-slide-to="1"></li>
        <li data-target="#specialsCarousel" data-slide-to="2"></li>
      </ol>
       
      <div class="carousel-inner">
      
      
        <div class="item active">
            <img src="/images/rooms/premuim-oceanfront-king/premuim-oceanfront-king-1.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span>
         </div>
       <div class="item">
            <img src="/images/rooms/premuim-oceanfront-king/premuim-oceanfront-king-2.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span>
         </div>
         <div class="item">
            <img src="/images/rooms/premuim-oceanfront-king/premuim-oceanfront-king-3.jpg" alt=""/>
            <span class="pint"><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></span>
         </div>

      </div>
      
    </div>
   
   
  </div>
  
  <div class="inner-car-con">
         <h2>Premium</h2>
         	<h1>oceanfront <span class="block-element">king</span></h1>
            <div class="rate-wrap">$680</div>
            <a href="https://bookings.ihotelier.com/bookings.jsp?hotelId=98358" class="button-common btn-black">Book Now</a>
         </div>
         
            </div>
        
   
</section>

<section>
	<div class="container-fluid no-padding inner-blue-bg">
    	<div class="container two-col-wrap">
        	<div class="col-sm-5 no-padding v-center">
            	<h4 class="text-center">enjoy the following privileges</h4>
            </div>
            <div class="col-sm-7 no-padding v-center">
            	
                <ul class="blue-bg-list">
               			<li>Round-trip airport transfers</li>
                        <li>Daily Breakfast at The Lobby or Breakfast Buffet</li>
                        <li>Unlimited mini-bar consumption for non-alcoholic items</li>
                        <li>Culinary Journey dining for two at our restaurants</li>
                        <li>Flexible check-in and check-out times</li>
                        </ul>
                        
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container two-col-wrap centered-con-wrap">
    	<div class="col-sm-5 no-padding v-center"><div class="centerd-con-left"><img src="/images/terms.jpg" alt=""/></div></div>
        <div class="col-sm-7 no-padding v-center">
        <div class="centerd-con-right">
        	<div class="heading-text">Information:</div>
            <ul class="seperated-text">
            	<li>1 Bed</li>
                <li>50 sq m</li>
                <li>50 sq m</li>
                
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <div class="heading-text">Need assistance? Our dedicated reservations team is available around the clock:</div>
            <p>24 North Hotel Service Centre on 800-222-4828  or <span class="block-element">e-mail <a href="mailto:reservations@24north.com">reservations@24north.com</a></span></p>	
        </div>
        </div>
    </div>
</section>

<section>
	<div class="container-fluid no-padding home-specials-wrap">
    	<div class="container">
       	  <h2 class="heading-large">More Rooms</h2>
          
          <div id="room-carousel-1">
  				<div class="item">
            <div class="home-specials-item">
                <img src="/images/home-special-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>Queen pool view double</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Room</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="/images/more-rooms.jpg" alt=""/>
                <div class="car-content">
                    <h3>premium two-room suite</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Room</a>
            </div>
            
            </div>
            

  
            </div>
            
            <div class="btn-holder-with-padding"><a href="/rooms/" class="button-common btn-blue">View all Rooms<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>


<section>
	<div class="container">
    <div class="cta-outer">
    	<div class="cta-theme inner-cta">
        	<h2>Paradise Found</h2>
            <div><a href="#" class="button-common btn-white">Book Now<i class="fa fa-play"></i></a></div>
        </div>
    </div>
    </div>
</section>


<section>
	<div class="container-fluid no-padding home-specials-wrap">
    	<div class="container">
       	  <h2 class="heading-large">More Specials</h2>
          
          <div id="home-carousel-2">
  				<div class="item">
            <div class="home-specials-item">
                <img src="/images/home-special-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>grand opening special</h3>
                    <p>Book now and save 25% with this great offer for our grand opening!</p>
                </div>
                <a href="/specials/grand-opening" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="/images/home-special-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>book early & save!</h3>
                    <p>Reserve your room now for next summer and save 35%</p>
                </div>
                <a href="/specials/book-early" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            

  
            </div>
            
            <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
    
</section>