---
layout: default
---

{% assign offer = page %}
<div class="loading" style="display:block;">Loading&#8230;</div>
<div  class="room-details special-details" rt3-special-rates= "offers" ng-controller="offerDetail" >
{% if offer.publish == "Yes" %}

  <section>
    <div class="container no-padding">
      <div class="page-banner specials-banner">
        <div class="graphic"><img src="/images/floating/stamp-1.png" alt="24 north stamp"/></div>
        <h1 class="page-title">Specials</h1>
      </div>
    </div>
  </section>
  <section>

    <div class="container">
      <ul class="gallery-nav">

        <li ng-repeat="o in offers.special_rates"><a ng-href="/special/#[[o.rate_plan_name | formatNameForLink]]" ng-class="{active: offers.sRdetail.rate_plan_code == o.rate_plan_code}" tabindex="-1">[[o.rate_plan_name]]</a></li>

      </ul>
    </div>

    <div class="container room-details-carousel" >
      <div class="row">
      <div class="col-md-3 col-xs-12">
          <div class="spcl-lstng lp-list" tabindex="0">
          	<h2>Special Offer</h2>
            <h3><span class="block-element">{{ offer.title }}</h3>
            <div class="booknow"> <a  href="{{ offer.offer_promo_url }}" target="_blank">Book Now</a> </div>
          <p>{{ offer.short_description }}</p>
          </div>
      </div>
      <div class="col-md-9 col-xs-12">
          <div id="roomDetailsCarousel" class="carousel slide">

            <ol class="carousel-indicators">
              {% for offer in offer.image %}
                {% if forloop.length > 1 %}
                <li data-target="#roomDetailsCarousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first == true %} class="active"{% endif %}></li>
                {% endif %}
              {% endfor %}
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              {% for offer in offer.image %}
              <div class="item {% if forloop.first %} active {% endif %}">
                <img src="{{ offer.url_large }}" alt="{{ offer.title }}"/>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section class="lifestyle">
  	<div class="container about" tabindex="0">
    	<h3>About the offer</h3>
        <p>{{ offer.long_description }}</p>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row information">
        <div class="col-md-5 align-center"><img src="../../images/specials/special-details/photo-patch-spcls.png" width="296" height="386" alt=""/></div>
        <div class="col-md-7 p-l-0" tabindex="0">
          <p class="highlight p-t-35">Terms & Conditions:</p>
           {{ offer.terms_conditions }}
        </div>
      </div>
    </div>
  </section>
  <section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large" tabindex="0">More Specials</h2>

        {%  include special-offers.html %}

        <div class="stamp-blue"><img src="../../images/specials/special-details/stamp-blue.png" alt="24North-stamp"/></div>
        <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
{% endif %}
