---
layout: default
---
<div class="loading" style="display:block;">Loading&#8230;</div>
<div  class="room-details special-details" rt3-special-rates= "offers" ng-controller="offerDetail" >

  <section>
    <div class="container no-padding">
      <div class="page-banner specials-banner">
        <div class="graphic"><img src="/images/floating/stamp-1.png" alt="24 north stamp"/></div>
        {% regionblock tripadvisor_heading1, type:header %}
        <h1 class="page-title">tripadvisor</h1>
        {% endregionblock %}
      </div>
    </div>
  </section>

  <section>
    <div class="container room-details-carousel m-t-60" >
      <div class="row">
      <div class="col-sm-3 col-xs-12">
          <div class="spcl-lstng">
            {% regionblock tripadvisor_heading2, type:header %}
          	<h2>Special Offer</h2>
            {% endregionblock %}
            {% regionblock tripadvisor_heading3, type:header %}
            <h3><span class="block-element">We Are Open!</h3>
            {% endregionblock %}
            <div class="booknow"> <a href="https://24northhotel.reztrip.com/ext/promoRate?property=986&mode=b&pm=true&sr=278014&vr=3" target="_blank">Book Now</a> </div>
            <div class="btn-holder extra padding"><a href="mailto:reservations@hotel24north.com" class="button-common btn-blue">Contact Us</i></a></div>
            <p>Welcome back!! We are open and ready for you!!  Limited Time offer available until November 12th only.</p>
          </div>
      </div>
      <div class="col-sm-9 col-xs-12">

          <div id="roomDetailsCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#roomDetailsCarousel" class="active"></li>

            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="/images/specials/special-details/special-details-banner.jpg" alt="tripadvisor"/>
              </div>


            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section class="lifestyle">
  	<div class="container-fluid">
      {% regionblock tripadvisor_heading4, type:header %}
    	<h3>About the offer</h3>
      {% endregionblock %}
        <p>We are back and ready to make your stay memorable.  Take a load off your shoulder, kick back and relax with family and friends when you escape to the tropical paradise of Key West, Florida.<br><br>Enjoy your savings and a 7 day cancellation policy with this special offer. Limited Time offer available until November 12th. Blackout dates apply.<br><br>.Terms and Conditions:Deposit of 1 night room and tax is required for all confirmed reservations and will be charged 7 days prior to check in time and becomes non-refundable when charged.  Notification of cancellation 21 days prior to arrival is required for Fantasy Fest, Christmas and New Year's.</p>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row information">
        <div class="col-md-5 align-center"><img src="../../images/specials/special-details/photo-patch-spcls.png" width="296" height="386" alt=""/></div>
        <div class="col-md-7 p-l-0">
          <p class="highlight p-t-35">Terms & Conditions:</p>
          <ul class="lst p-b-25">

          	<li>Deposit of 1 night room and tax is required for all confirmed reservations and will be charged 7 days prior to check in time and becomes non-refundable when charged.</li>
            <li>Guarantee/Deposit and Change/Cancellation Fees will depend on selected dates and room/rate combination.</li>

          </ul>
          <p class="highlight">Need assistance? Our dedicated reservations team is available around the clock:</p>
          <p class="p-b-25">24 North Hotel Service Centre on <a href="tel:305-320-0930">(305) 320-0930</a>  or <br>
            e-mail <a href="mailto:reservations@hotel24north.com" >reservations@hotel24north.com</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        {% regionblock tripadvisor_heading5, type:header %}
        <h2 class="heading-large">More Specials</h2>
        {% endregionblock %}

        {%  include special-offers.html %}

        <div class="stamp-blue"><img src="../../images/specials/special-details/stamp-blue.png" alt="24North-stamp"/></div>
        <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
