---
layout: default
---

<section>
  <div class="container no-padding">
    <div class="page-banner location-banner">
      <div class="overlay-bg"></div>
      {% regionblock webcams_header, type:header %}
      <h1 class="page-title" tabindex="0">Live Webcams</h1>
      {% endregionblock %}
      <div class="graphic">
        <img src="/images/floating/stamp-1.png" alt="24 north stamp" />
      </div>
      </div>
    </div>
</section>

<section class="loc-main">
  <div class="loc-main-inner">
    <div class="container">
      <div class="col-sm-12">
        <h2 class="h3 text-center py-5" tabindex="0">24North Ocean Cam</h2>
        <!--Front Cam-->
        <!--div id="frontcam" class="flowplayer-wrap"></div>
        <script type="text/javascript">
          WowzaPlayer.create('frontcam', {
            "license": "PLAY1-mYPu4-ydY4t-GNkET-Fkr4M-wbxCz",
            "title": "24 North ",
            "description": "",
            "sourceURL": "https://wowzaprod179-i.akamaihd.net/hls/live/678105/74a65f41/playlist.m3u8",
            "autoPlay": false,
            "volume": "75",
            "mute": false,
            "loop": false,
            "audioOnly": false,
            "uiShowQuickRewind": false,
            "posterFrameURL": "https://www.floridakeyswebcams.tv/axiscam/24North/24North-ocean.jpg",
            "endPosterFrameURL": "",
            "uiPosterFrameFillMode": "fill"
          });
        </script-->

        <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
          <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" id="ls_embed_1562342270" src="https://livestream.com/accounts/28216356/events/8676698/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=feed&mute=true" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="24North Ocean Cam"></iframe>
          <script type="text/javascript" data-embed_id="ls_embed_1562342270" src="https://livestream.com/assets/plugins/referrer_tracking.js"></script>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <!--PTZ Cam-->
        <!--div id="ptzcam" class="flowplayer-wrap"></div>
        <script type="text/javascript">
          WowzaPlayer.create('ptzcam', {
            "license": "PLAY1-mYPu4-ydY4t-GNkET-Fkr4M-wbxCz",
            "title": "24 North PTZ",
            "description": "",
            "sourceURL": "https://wowzaprod179-i.akamaihd.net/hls/live/678105/00645d5c/playlist.m3u8",
            "autoPlay": false,
            "volume": "75",
            "mute": false,
            "loop": false,
            "audioOnly": false,
            "uiShowQuickRewind": false,
            "posterFrameURL": "https://www.floridakeyswebcams.tv/axiscam/24North/24North-ptz.jpg",
            "endPosterFrameURL": "",
            "uiPosterFrameFillMode": "fill"
          });
        </script-->
        <h3 class="text-center py-5" tabindex="0">24North PTZ Cam</h3>
        <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
          <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" id="ls_embed_1562342151" src="https://livestream.com/accounts/28216356/events/8739852/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=feed&mute=true" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="24North PTZ Cam"></iframe>
          <script type="text/javascript" data-embed_id="ls_embed_1562342151" src="https://livestream.com/assets/plugins/referrer_tracking.js"></script>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <!--Pool Cam-->
        <!--div id="poolcam" class="flowplayer-wrap"></div>
        <script type="text/javascript">
          WowzaPlayer.create('poolcam', {
            "license": "PLAY1-mYPu4-ydY4t-GNkET-Fkr4M-wbxCz",
            "title": "24 North Pool",
            "description": "",
            "sourceURL": "https://wowzaprod179-i.akamaihd.net/hls/live/678105/c0b3e12e/playlist.m3u8",
            "autoPlay": false,
            "volume": "75",
            "mute": false,
            "loop": false,
            "audioOnly": false,
            "uiShowQuickRewind": false,
            "posterFrameURL": "https://www.floridakeyswebcams.tv/axiscam/24North/24Northpool.jpg",
            "endPosterFrameURL": "",
            "uiPosterFrameFillMode": "fill"
          });
        </script-->

          <h4 class="h3 text-center py-5" tabindex="0">24North Pool Cam</h4>
          <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
          <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" id="ls_embed_1563204954" src="https://livestream.com/accounts/28216356/events/8739880/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=feed&mute=true" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen title="24North Pool Cam"></iframe>
          <script type="text/javascript" data-embed_id="ls_embed_1563204954" src="https://livestream.com/assets/plugins/referrer_tracking.js"></script>
        </div>
      </div>
    </div>
    <div class="more-spls" rt3-special-rates="offers">
      <div class="graphics"></div>
      <div class="container-fluid no-padding home-specials-wrap">
        <div class="container">
          <h5 class="h2 heading-large" tabindex="0">Special Offers</h5>
          {% include special-offers.html %}
          <div class="stamp"><img src="../../images/rooms/room-details/stamp.png" alt="24 North Hotel" /></div>
            <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue" title="View All Specials">View all Specials<i class="fa fa-play"></i></a></div>
          </div>
        </div>
    </div>
  </div>
</section>
