---
layout: default
---

<div class="starbucks shuttle">

  <section>
    <div class="container no-padding">
      <div class="page-banner partners-banner events-lawn-banner">
        <div class="graphic"><img src="/images/floating/stamp-1.png" alt="24 North Hotel" /></div>
        <h1 class="page-title">WEDDINGS</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid no-padding two-col-wrap m-t-60">
      <div class="col-sm-6 no-padding v-center">
        <div class="two-col-content" tabindex="0">
          {% region heart-of-republic %}
          <div class="btn-holder"><a href="https://www.thekeyscollection.com/celebrate/" class="button-common btn-blue" target="_blank">Learn More<i class="fa fa-play"></i></a></div>
        </div>
      </div>
      <div class="col-sm-6 no-padding v-center">
        <img src="/images/event-lawn/24-north-wedding-key-west-1.jpg" alt="A KEY WEST WEDDING">
      </div>
    </div>
  </section>

  <section class="about-home weddings-intro">

    <div class="container-fluid no-padding two-col-wrap">
      <div class="col-sm-6 no-padding v-center">{% region shuttle-image-2 %}</div>
      <div class="col-sm-6 no-padding v-center">
        <div class="two-col-content" tabindex="0">
          {% region explore-old-key %}
          <div class="btn-holder"><a href="https://www.thekeyscollection.com/celebrate/" class="button-common btn-blue" target="_blank">Learn More<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>

    <div class="ev-lawn-btn" tabindex="0">
      <p>For inquiries, please call the Sales Office at
        <a href="tel:(305) 600-1425" title="(305) 600-1425">(305) 600-1425</a> or fill out the RFP below.</p>
      <div class="btn-holder "><a class="button-common btn-blue" href="/weddings-and-events/request-for-proposal/" title="Request for Proposal">Request for Proposal </a></div>
    </div>

  </section>

  <section>
    <div class="container-fluid no-padding home-rooms-wrap">
      <div class="home-rooms event-lawn-fullimg"></div>
    </div>
  </section>

</div>

<!-- Modal popup -->
<div id="eventsVideo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class='embed-container'><iframe src='https://player.vimeo.com/video/251210998' frameborder='0' title="Gates Key West" allowfullscreen ></iframe></div>
      </div>
    </div>
  </div>
</div>
